Sediment Tests/Jomesa5.json
[{"id":"447205f9c52006b9","type":"tab","label":"Jomesa Prototype","disabled":false,"info":"","env":[]},{"id":"5c5d043f856bb4d8","type":"group","z":"447205f9c52006b9","name":"Startup","style":{"label":true,"stroke":"#000000","fill":"#e3f3d3","color":"#000000","fill-opacity":"0.75"},"nodes":["86540153f952f639","701b659a306582d7","36f1ea3b13f16076","e166aa090e237780","bcf1a922381d0267","fa500cb657a3cc27","af0da7a50fe51b8a","4d754f5336bb43da","e0790188ce8ed145","b81cbefcc962fa45","09bf451b4fc05185","83dc02a19903b103","8ee6f4fcb9a62ac0"],"x":34,"y":14,"w":1212,"h":287,"info":"This group is the startup sequence for the flow\n\nThis is where the text file with the email message and data will be extracted from the folder and the filename will be saved as a flow variable\n\nThis is also where the last flow.email and flow.data get reset and cleared"},{"id":"6f521e616a23443f","type":"group","z":"447205f9c52006b9","name":"Parsing","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000","fill-opacity":"0.75"},"nodes":["5ff72081e0b5097c","2b7ef198c36965e8","e52cdea3b765b409","9ae136c26f4e49cc","1a88d7c4b651590e","792ebb43bc5ec7e6","6b798b18f95ee992","0280c34e3cc0ca4f","95e36d9bb52ba14a","8d96daaa8bcd8c9e","41b1a15f69a39a63","339536fc9011b422","ae830e4f56a1ddae","3c20f2ed5c9c5b81","4d267486fb2873b5","293470f827897582","1b3f74f7a5e3ae5b","b449aa149caa3403","a387917380784a65","e7cf363f94d08f24","3e6aaa9196819e8c"],"x":34,"y":319,"w":1912,"h":382},{"id":"d3e4db5647dfdd51","type":"group","z":"447205f9c52006b9","name":"Email","style":{"stroke":"#000000","fill":"#ffefbf","label":true,"color":"#000000","fill-opacity":"0.75"},"nodes":["3bd354bf6fde0a8c","3b7d882b8662f018","c694bb98e43ba553","7362256baae046d7"],"x":3074,"y":459,"w":472,"h":162},{"id":"29e81cdb7824f270","type":"group","z":"447205f9c52006b9","name":"FinalDataObject and DB Communication","style":{"stroke":"#000000","fill":"#dbcbe7","label":true,"color":"#000000","fill-opacity":"0.75"},"nodes":["7e1d0a0fb1e9dcc5","da778d0b71964aa6","7e1b7ef539b7bb48","874541026c738320","c0fc229720484997","efb7bb97a951721b","87f6d54a02c85e57"],"x":2574,"y":199,"w":1172,"h":202},{"id":"fda705b472ca9152","type":"group","z":"447205f9c52006b9","name":"End Procedure","style":{"label":true,"stroke":"#000000","fill":"#ffbfbf","fill-opacity":"0.75","color":"#000000"},"nodes":["5a9832005bd656de","5e20ea2364fe3ce7","23bed88a08754614","704b4b9a9eeb632f","7880f98da2e28532","96bfc5789db92671","aed8326e583eb95e","185c8573a46f1835","bb022f79a52ab9bd","d138778d33f51fe9","59107ea88172eb22","943f978f5a698562","61c3448a13a22691","d20f3c952c676ba3","eec992541ece946a","7f0b5b914b2ebd22","20546b3d37210c71","5458709a7401e5fa","7663624e9cbdbb0c","cb2e26201328631d","1c3fc634512b7312","67c9b75d72316284"],"x":374,"y":739,"w":1572,"h":307},{"id":"4620efd84ef6704a","type":"group","z":"447205f9c52006b9","name":"Spec Validation","style":{"stroke":"#000000","label":true,"fill":"#bfdbef","fill-opacity":"0.75","color":"#000000"},"nodes":["1ee17dc2391de76c","0d9d43c82e5fbe89","0bc4bcad21a144d4","df5d5f05d4bf4ab7","19fbcf7f5755dee9","9d65f37d3f9ca919","686e66926bd9328a","3d86ad0d182834b8","f40815f478b4f0fb","2ec848e40c55cef0","b8f0d8c65ab33195"],"x":1974,"y":419,"w":1052,"h":207},{"id":"86540153f952f639","type":"fs-ops-dir","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"text files","path":"/data/ShivDataOutput/Jomesa","pathType":"str","filter":"*.txt","filterType":"str","dir":"text_files","dirType":"flow","x":340,"y":60,"wires":[["af0da7a50fe51b8a"]]},{"id":"701b659a306582d7","type":"switch","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"if text_files empty","property":"text_files","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["4d754f5336bb43da"],["86540153f952f639"]]},{"id":"36f1ea3b13f16076","type":"function","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"get the filename","func":"var path = flow.get(\"files\")\n\nmsg.filename = '/data/ShivDataOutput/Jomesa/'+path[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":100,"wires":[["bcf1a922381d0267"]]},{"id":"5ff72081e0b5097c","type":"file in","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":220,"y":380,"wires":[["2b7ef198c36965e8"]]},{"id":"2b7ef198c36965e8","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":520,"wires":[["41b1a15f69a39a63"]]},{"id":"e166aa090e237780","type":"function","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"clear flow variables","func":"flow.set(\"dateOfAnalysis\",\"\");\nflow.set(\"reportNum\",\"\");\nflow.set(\"location\",\"\");\nflow.set(\"partName\",\"\");\nflow.set(\"JK\",0.0);\nflow.set(\"HI\",0.0);\nflow.set(\"FG\",0.0);\nflow.set(\"CE\",0.0);\nflow.set(\"weight\",0.0);\nflow.set(\"occupancy\",0.0);\nflow.set(\"met_len\",0);\nflow.set(\"met_width\",0);\nflow.set(\"non_met_len\",0);\nflow.set(\"non_met_width\",0);\nflow.set(\"fiber_len\",0);\nflow.set(\"total_fibers\",0.0);\nflow.set(\"result\",\"\");\nflow.set(\"reaction_values\",[]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[[]]},{"id":"e52cdea3b765b409","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"parse 10R140 data","func":"/* DATALIST =\n * [2] LOCATION\n * [4] JK\n * [5] HI\n * [6] FG\n * [7] CE\n * [8] WEIGHT\n * [9] OCCUPANCY\n * [10] METALLIC_LEN\n * [11] METALLIC_WIDTH\n * [12] NON_METALLIC_LEN\n * [13] NON_METALLIC_WIDTH\n * [14] FIBER_LEN\n * [15] TOTAL_FIBERS\n * [16] RESULT              */\n\nvar data = flow.get(\"data\");\nvar myData = data.split(\",\");\n\nvar location = myData[2];\nvar JK = parseFloat(myData[4]);\nvar HI = parseFloat(myData[5]);\nvar FG = parseFloat(myData[6]);\nvar CE = parseFloat(myData[7]);\nvar weight = parseFloat(myData[8]);\nvar occupy = parseFloat(myData[9]);\nvar metallic_len = parseFloat([10]);\nvar metallic_width = parseFloat([11]);\nvar non_metallic_len = parseFloat([12]);\nvar non_metallic_width = parseFloat([13]);\nvar fiber_len = parseFloat([14]);\nvar total_fibers = parseFloat([15]);\nvar result = myData[16];\n\nflow.set(\"location\",location);\nflow.set(\"JK\",JK);\nflow.set(\"HI\",HI);\nflow.set(\"FG\",FG);\nflow.set(\"CE\",CE);\nflow.set(\"weight\",weight);\nflow.set(\"occupancy\",occupy);\nflow.set(\"met_len\",metallic_len);\nflow.set(\"met_width\",metallic_width);\nflow.set(\"non_met_len\",non_metallic_len);\nflow.set(\"non_met_width\",non_metallic_width);\nflow.set(\"fiber_len\",fiber_len);\nflow.set(\"total_fibers\",total_fibers);\nflow.set(\"result\",result);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":400,"wires":[["ae830e4f56a1ddae"]]},{"id":"bcf1a922381d0267","type":"link out","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"out_startup","mode":"link","links":["9ae136c26f4e49cc"],"x":1200,"y":100,"wires":[]},{"id":"9ae136c26f4e49cc","type":"link in","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"in_parsing","links":["bcf1a922381d0267"],"x":80,"y":380,"wires":[["5ff72081e0b5097c"]]},{"id":"3bd354bf6fde0a8c","type":"function","z":"447205f9c52006b9","g":"d3e4db5647dfdd51","name":"configure email","func":"var body = flow.get(\"email_body\");\nvar pdf = flow.get(\"pdf_files\");    \nvar measured = flow.get(\"reaction_values\");\nvar reaction = flow.get(\"out_of_reaction\");\nvar part = flow.get(\"partName\");\nvar report = flow.get(\"reportNum\");\n\n//Set 10R140 -------------------------------------------------------------------\nif(part === \"10R140 Body\"){\n    var limits = flow.get(\"body_reaction\");\n}else if(part === \"10R140 Slide\"){\n    var limits = flow.get(\"slide_reaction\");\n}else if(part === \"10R140 Rotor\"){\n    var limits = flow.get(\"rotor_reaction\");\n\n//Set ZF -----------------------------------------------------------------------\n}else if(part === 'ZF Body'){\n    var limits = flow.get(\"ctrl_ZF\");\n}else if(part === 'ZF Outer'){\n    var limits = flow.get(\"ctrl_ZF\");\n}else if(part === 'ZF Inner'){\n    var limits = flow.get(\"ctrl_ZF\");\n\n}\n\n//Sender --------------------------------------------------------\nmsg.from = ['PM-A Quality <notification-noreply@stackpole.com>'];\n\n//Receiver ------------------------------------------------------\nmsg.to = ['sthakar@stackpole.com']//,'meechaute@stackpole.com',flow.get(\"QE\"),'fbaguma@stackpole.com','cleroux@stackpole.com'];\n\n//Subject -------------------------------------------------------\n\nif(part.includes(\"10R140\") === true){\n    msg.topic = \"Reaction Limit Exceeded - Sediment Test #\"+report+\" for \"+part; // subject\n    var r = \"Reaction Limit\";\n}else{\n    msg.topic = \"Failed Sediment Test - \"+report+\" for \"+part; // subject\n    var r = \"Control Limit\";\n}\n\n\n\n//Attachments ---------------------------------------------------   to be implemented\nmsg.attachments = [\n    \n    {filename:pdf[0],path:'/data/ShivDataOutput/Jomesa/'+ pdf[0]}\n    \n    ];\n\n//Body ----------------------------------------------------------\nif(part.includes(\"10R140\") === true){\n    body = \"The reaction limit has been exceeded for \"+part+\" (Report Number: \"+report+\")\\n\\nThe following categories are out of the reaction limit:\\n\\n\";\n}else{\n    body = \"Sediment Test #\"+report+\" has failed for \"+part+\". The following categories are out of the control limits:\\n\\n\";\n}\n\n\nfor(let i = 0; i < reaction.length; i++){\n    \n    /*\n     * THIS MAY NEED TO CHANGE, SINCE DIFFERENT PARTS MAY HAVE MORE OR LESS THAN THIS\n     * THIS IMPLEMENTATION IS ONLY FOR 10R140 COMPONENTS [BODY,SLIDE,ROTOR]\n     */\n    \n    if(reaction[i] === \"JK\" || reaction[i] === \"Weight\"){\n        x = limits[0];\n    }else if(reaction[i] === \"HI\" || reaction[i] === \"Largest Fiber\"){\n        x = limits[1];\n    }else if(reaction[i] === \"FG\" || reaction[i] === \"K\"){\n        x = limits[2];\n    }else if(reaction[i] === \"CE\" || reaction [i] === \"J\"){\n        x = limits[3];\n    }else if(reaction[i] === \"I\"){\n        x = limits[4]\n    }\n    \n    \n    body = body + reaction[i]+\"= \"+measured[i]+\" [\"+r+\" = \"+x+\"]\\n\";\n    \n}\n\nbody = body + \"\\nJomesa Data: [LINK]\\n\\nPictures Saved To:\\nN:\\\\Quality\\\\Metlab\\\\Met Lab Reports\\\\Sediment Tests\\\\Jomesa results\\\\Reaction Limit Sediment Tests Pictures\\\\\"+part+\"\\\\\"+report+\"_Pictures\\n\\n\";\n\nmsg.payload = body;\nmsg.reaction = reaction;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":540,"wires":[["3b7d882b8662f018","7362256baae046d7"]]},{"id":"3b7d882b8662f018","type":"e-mail","z":"447205f9c52006b9","g":"d3e4db5647dfdd51","server":"smtp01.stackpole.com","port":"25","secure":false,"tls":false,"name":"","dname":"send email","x":3450,"y":500,"wires":[]},{"id":"c694bb98e43ba553","type":"link in","z":"447205f9c52006b9","g":"d3e4db5647dfdd51","name":"in_sendEmail","links":["19fbcf7f5755dee9"],"x":3120,"y":540,"wires":[["3bd354bf6fde0a8c"]]},{"id":"7e1d0a0fb1e9dcc5","type":"function","z":"447205f9c52006b9","g":"29e81cdb7824f270","name":"create FinalDataObject","func":"var myObj = {};\n\nvar timestamp = flow.get(\"timestamp\")||\"\"; //need to add\nvar reportNum = flow.get(\"reportNum\")||\"\";\nvar loc = flow.get(\"location\")||\"\";\nvar part = flow.get(\"partName\"||\"\");\nvar JK = flow.get(\"JK\")||\"\";\nvar HI = flow.get(\"HI\")||\"\";\nvar FG = flow.get(\"FG\")||\"\";\nvar CE = flow.get(\"CE\")||\"\";\nvar K = flow.get(\"K\")||\"\";\nvar J = flow.get(\"J\")||\"\";\nvar I = flow.get(\"I\")||\"\";\nvar H = flow.get(\"H\")||\"\";\nvar weight = flow.get(\"weight\")||\"\";\nvar occupancy = flow.get(\"occupancy\")||\"\";\nvar met_len = flow.get(\"met_len\")||\"\";\nvar met_width = flow.get(\"met_width\")||\"\";\nvar nonMet_len = flow.get(\"non_met_len\")||\"\";\nvar nonMet_wid = flow.get(\"non_met_width\")||\"\";\nvar fiber_len = flow.get(\"fiber_len\")||\"\";\nvar total_fib = flow.get(\"total_fibers\")||\"\";\nvar ctrl = flow.get(\"out_of_control\").join(\",\")||\"\";      \nvar react = flow.get(\"out_of_reaction\").join(\",\")||\"\";     \nvar result = flow.get(\"result\")||\"\";\n\nmyObj.timestamp = timestamp;            // int\nmyObj.loc = loc;                        // varchar(50)\nmyObj.reportNum = reportNum;            // varchar(10)\nmyObj.partName = part;                  // varchar(100)\nmyObj.JK = JK;                          // float (1 decimal)\nmyObj.HI = HI;                          // float (1 decimal)\nmyObj.FG = FG;                          // float (1 decimal)\nmyObj.CE = CE;                          // float (1 decimal)\nmyObj.K = K;                            // int \nmyObj.J = J;                            // int\nmyObj.I = I;                            // int\nmyObj.H = H;                            // int\nmyObj.weight = weight;                  // float (1 decimal)\nmyObj.occ = occupancy;                  // float (1 decimal)\nmyObj.met_len = met_len;                // int\nmyObj.met_width = met_width;            // int\nmyObj.nonMet_len = nonMet_len;          // int\nmyObj.nonMet_wid = nonMet_wid;          // int\nmyObj.fiber_len = fiber_len;            // int\nmyObj.total_fibers = total_fib;         // float (2-3 decimals)\nmyObj.ctrl = ctrl;                      // varchar(100)\nmyObj.reaction = react;                 // varchar(100)\nmyObj.result = result;                  // varchar(50)\n\nflow.set(\"JOMESA_FINALDATASET\", myObj);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2800,"y":300,"wires":[["7e1b7ef539b7bb48","87f6d54a02c85e57"]]},{"id":"da778d0b71964aa6","type":"link in","z":"447205f9c52006b9","g":"29e81cdb7824f270","name":"in_finalDataObj","links":["0bc4bcad21a144d4","b8f0d8c65ab33195"],"x":2620,"y":300,"wires":[["7e1d0a0fb1e9dcc5"]]},{"id":"fa500cb657a3cc27","type":"change","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[[]]},{"id":"af0da7a50fe51b8a","type":"fs-ops-dir","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"pdf files","path":"/data/ShivDataOutput/Jomesa","pathType":"str","filter":"*.pdf","filterType":"str","dir":"pdf_files","dirType":"flow","x":580,"y":60,"wires":[["701b659a306582d7"]]},{"id":"4d754f5336bb43da","type":"switch","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"if pdf_files empty","property":"pdf_files","propertyType":"flow","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":140,"wires":[["b81cbefcc962fa45"],["86540153f952f639"]]},{"id":"e0790188ce8ed145","type":"inject","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["86540153f952f639","e166aa090e237780","fa500cb657a3cc27","8ee6f4fcb9a62ac0"]]},{"id":"7e1b7ef539b7bb48","type":"function","z":"447205f9c52006b9","d":true,"g":"29e81cdb7824f270","name":"OnChange trigger - JSON string for MSSQL Integration - Jomesa Datapoints","func":"//\n//++++++++++++ VARIABLE DEFINITION ++++++++++++\n//--------------Custom VARI DEF----------------\n//\nvar TriggerTag      = \"timestamp\";                  //Define the Tag to be monitored as Trigger\nvar DeviceName      = \"Jomesa_PDF\";            // \"deviceID\" in the Integration data stream; equivalent to Level's in the EAV database\n                        // location  , report num  , part name    ,  JK   , HI    , FG    , CE    ,  K  ,  J    ,  I   , H   , weight, occu  , met len, met wid, non met len, non let wid, fib len, total fib , ctrl         , react    \nvar DataTypes       =  [\"varchar(50)\",\"varchar(10)\",\"varchar(100)\",\"float\",\"float\",\"float\",\"float\",\"int\", \"int\", \"int\", \"int\",\"float\",\"float\",\"int\", \"int\", \"int\", \"int\", \"int\",\"float\",\"varchar(100)\",\"varchar(100)\"];                          \nvar UserTopic       = \"Send_To_MSSQL\";              // Make sure to use the SQL Integration topic for the intended database [Transaction] table\nvar MSSQLTable      = \"Jomesa_SedimentTest_Quality\";               // \"registerId\" in the Integration data stream\nvar OnChange_Type   = 1;                        // 1 = Simple OnChange condition, \n                                                // 2 = OnChnage by defined increment (i.e. \"Trigger_Incre\"), \n                                                // 3 = OnChanValEq, when value changes, not zero and eq to \"TriggerValueToMonitor\"\n//var TriggerValueToMonitor   =   \"1\";             // Define the value to monitor if TriggerCondition equals #3: OnChanValEq\n//var Trigger_Incre   = 10;                       // 1 = triggers every part, 2 = triggers every two parts, etc. etc. \n//\n//+++++++++++++++ END VARI DEF ++++++++++++++++\n//\n//############### Prog varibles ###############   \n//\nvar FinalDataObj = msg.FinalDataObj;                    // Enable this line if input is already the final data object\nvar timestamp = Date.now();\nvar success = true;\n//\n//############# END Prog varibles #############\n//\n//**************** EXECUTE MAIN ****************\n//\nflow.set(\"TriggerTag\",TriggerTag);                                 \nflow.set(\"TriggerValue\",String(eval(FinalDataObj)[TriggerTag]));       // Enable this line if input is already the final data object\n//flow.set(\"TriggerValue\",String(msg.payload.value));                 // Enable this line if input is the trigger tag only\nvar newvalue = String(flow.get(\"TriggerValue\"));\n\n\n//-------------------------------------------\n// OnChange Type 1 and 2\n//-------------------------------------------\nif(OnChange_Type === 1 || OnChange_Type === 2){\n    // Check Trigger condition\n    if (String(flow.get(\"OldValue1\")).toLowerCase() === String(newvalue).toLowerCase())  // Each part type uses its own unique \"OldValue\" to compare for triggering\n         {\n            // Trigger Tag value has not changed, do nothing\n            return [null];\n         }  \n         \n    flow.set(\"OldValue1\", newvalue);\n    \n    \n    //-------------------------------------------------------\n    // 1 - Simple OnChange condition (Trigger by value change) \n    //-------------------------------------------------------\n    if (OnChange_Type === 1){\n        \n        delete FinalDataObj.timestamp;\n        \n        var keyNames    = Object.keys(FinalDataObj);         //create the key array\n        var keyValues   = Object.values(FinalDataObj);       //create the value array\n        \n//        node.warn (keyNames)\n//        node.warn (keyNames.length)\n//        node.warn (keyValues)\n//        node.warn (keyValues.length)\n        \n        // Create the DATATYPES as a \";\" separated values string\n        for (var k = 0; k < keyNames.length; k++){\n//            if(keyNames[k] === \"addnotes\" || keyNames[k] === \"notes\"){\n                keyValues[k] = keyValues[k].toString().replace(/[=,]/g, '~|').replace(/[=\"]|[=']/g, '@|')       // Replace \",\" with \".\" from the Operator added notes to avoid misinterpreting as comma forseperating the key names\n//            }\n            if(k===0)\n            {\n                DATATYPES = DataTypes[k];          \n            }\n            else\n            {\n               DATATYPES = DATATYPES + \";\" + DataTypes[k];              // Construct \";\" separated data type value string\n            }\n        }\n        \n        //node.warn(keyValues)\n        \n        var newstr = \"{\" \n            + \"\\\"timestamp\\\": \" + timestamp  \n            + \", \\\"deviceID\\\": \\\"\" + DeviceName + \"\\\"\" \n            + \", \\\"registerId\\\": \\\"\" + MSSQLTable + \"\\\"\" \n            + \", \\\"tagName\\\": \\\"\" + keyNames + \"\\\"\" \n            + \", \\\"datatype\\\": \\\"\" + DATATYPES + \"\\\"\" \n            + \", \\\"value\\\": \\\"\" + keyValues + \"\\\"\" \n            + \", \\\"success\\\": \" + success   \n            + \"}\";\n        \n        msg.Log = \"INFO,\"+new Date(Date.now())+\" , finalDataset JSON strings streamed to MSSQL Integration\";\n        \n        return [{subjectInput:UserTopic+\".\"+DeviceName+\".\"+MSSQLTable, payload:newstr}];\n    }\n\n}\n\n//************** END EXECUTE MAIN **************","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2970,"y":360,"wires":[["874541026c738320","87f6d54a02c85e57"]]},{"id":"b81cbefcc962fa45","type":"function","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"match report numbers","func":"var msg2;\nvar txt = flow.get(\"text_files\");\nvar pdf = flow.get(\"pdf_files\");\n\nvar text_num = \"\";\nvar pdf_num = \"\";\nvar flag = 0;\n\nvar files = []; \n\nfor(let i = 0; i < txt.length; i++){\n    \n    flag = 0;\n    text_num = txt[i].split(\"_\")[0];\n    \n    for (let j = 0; j < pdf.length; i++){\n        \n        if(pdf[j].includes(text_num)){\n            flag = 1;\n            files.push(txt[i]);\n            files.push(pdf[j]);\n            break;\n        }\n    }\n    if(flag === 1){\n        flow.set(\"files\",files);\n        break;\n    }\n}\n\nif (flag === 0){\n    return [,msg2];\n}\n\n\nreturn msg; \n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":140,"wires":[["36f1ea3b13f16076"],["09bf451b4fc05185"]]},{"id":"09bf451b4fc05185","type":"link out","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"out_loopStartup","mode":"link","links":["83dc02a19903b103"],"x":1020,"y":160,"wires":[]},{"id":"83dc02a19903b103","type":"link in","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"in_startup","links":["09bf451b4fc05185","d138778d33f51fe9"],"x":100,"y":60,"wires":[["86540153f952f639"]]},{"id":"686e66926bd9328a","type":"switch","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"if out_of_reaction not empty","property":"out_of_reaction","propertyType":"flow","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":2600,"y":540,"wires":[["19fbcf7f5755dee9"]]},{"id":"8ee6f4fcb9a62ac0","type":"function","z":"447205f9c52006b9","g":"5c5d043f856bb4d8","name":"set reaction and ctrl limits","func":"// 10R140 Components -----------------------------------------------------------\nflow.set(\"ctrl_10R140\",[4,64,500,16000]);\nflow.set(\"react_10R140Body\",[2.5155,31.17,184.2,3804]);\nflow.set(\"react_10R140Slide\",[2.6736,36.18,178.32,3735]);\nflow.set(\"react_10R140Rotor\",[3.302,38.67,198.96,4488]);\n\n// ZF Components ---------------------------------------------------------------\n// Weight, Largest Length of Fiber, K, J, I\nflow.set(\"ctrl_ZF\",[0.4,4000,1,1,1]);\n\n// GME T4 Stator ---------------------------------------------------------------\nflow.set(\"ctrl_GME\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":260,"wires":[[]]},{"id":"7362256baae046d7","type":"debug","z":"447205f9c52006b9","g":"d3e4db5647dfdd51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3430,"y":580,"wires":[]},{"id":"1a88d7c4b651590e","type":"switch","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"check partName","property":"partName","propertyType":"flow","rules":[{"t":"cont","v":"10R140","vt":"str"},{"t":"cont","v":"ZF","vt":"str"},{"t":"cont","v":"GME","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":520,"wires":[["e52cdea3b765b409","3c20f2ed5c9c5b81"],["339536fc9011b422","4d267486fb2873b5"],["b449aa149caa3403","a387917380784a65"]]},{"id":"792ebb43bc5ec7e6","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set 10R140 Body Specs","rules":[{"t":"set","p":"ctrl","pt":"msg","to":"ctrl_10R140","tot":"flow"},{"t":"set","p":"react","pt":"msg","to":"react_10R140Body","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":360,"wires":[["95e36d9bb52ba14a"]]},{"id":"6b798b18f95ee992","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set 10R140 Slide Specs","rules":[{"t":"set","p":"ctrl","pt":"msg","to":"ctrl_10R140","tot":"flow"},{"t":"set","p":"react","pt":"msg","to":"react_10R140Slide","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":400,"wires":[["95e36d9bb52ba14a"]]},{"id":"0280c34e3cc0ca4f","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set 10R140 Rotor Specs","rules":[{"t":"set","p":"ctrl","pt":"msg","to":"ctrl_10R140","tot":"flow"},{"t":"set","p":"react","pt":"msg","to":"react_10R140Rotor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":440,"wires":[["95e36d9bb52ba14a"]]},{"id":"95e36d9bb52ba14a","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"save 10R140 measured","func":"var jk = flow.get(\"JK\");            // get JK\nvar hi = flow.get(\"HI\");            // get HI\nvar fg = flow.get(\"FG\");            // get FG\nvar ce = flow.get(\"CE\");            // get CE\n\nvar measured = []; \n\nmeasured.push(jk);          // add all characteristics to measured array\nmeasured.push(hi);\nmeasured.push(fg);          // [JK, HI, FG, CE]\nmeasured.push(ce);\n\nvar out_ctrl = [\"JK\",\"HI\",\"FG\",\"CE\"];       // list of all characters, if out of ctrl/reaction, it is removed from array\nvar out_react = [\"JK\",\"HI\",\"FG\",\"CE\"];\n\nmsg.measured = measured; \nmsg.out_ctrl = out_ctrl;\nmsg.out_react = out_react;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":400,"wires":[["8d96daaa8bcd8c9e"]]},{"id":"1ee17dc2391de76c","type":"link in","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"in_specValidation","links":["8d96daaa8bcd8c9e"],"x":2020,"y":540,"wires":[["f40815f478b4f0fb"]]},{"id":"8d96daaa8bcd8c9e","type":"link out","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"out_parsing","mode":"link","links":["1ee17dc2391de76c"],"x":1900,"y":540,"wires":[]},{"id":"0d9d43c82e5fbe89","type":"function","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"Check Ford Reaction Limits","func":"var measured = msg.measured;                        // array of all measured values from data file\nvar ctrl = msg.ctrl;                                // get the ctrl values\nvar react = msg.react;                              // get the react values\nvar out_ctrl = msg.out_ctrl;                        // get the list of characteristics; by default (dependent on part) - [\"JK\",\"HI\",\"FG\",\"CE\"]\nvar out_react = msg.out_react;                      // get the list of characteristics; by default (dependent on part) - [\"JK\",\"HI\",\"FG\",\"CE\"]\n                                                    // any characteristics that is within spec, it will be removed from array\nvar reaction_values = [];                           // to save the actual measured value when out of reaction\n\n// check ctrl limits ---------------------------------------------------------------------------------------------------------------------------\nfor(let i = 0; i < measured.length; i++){\n    if(measured[i] < ctrl[i]){                      // measured less than control\n        delete out_ctrl[i];                         // delete if within spec\n    }\n}\nout_ctrl = out_ctrl.filter(function(element){\n    return element !== undefined;                   // remove undefined values from array\n});\n// check reaction limits -------------------------------------------------------------------------------------------------------------------------\nfor(let i = 0; i < measured.length; i++){\n    if(measured[i] < react[i]){                     // measured less than reaction\n        delete out_react[i];                        // delete if within reaction limit\n    }else{\n        reaction_values.push(measured[i]);          // save the out of reaction values to another list for email notification\n    }\n}\nout_react = out_react.filter(function(element){\n    return element !== undefined;                   // remove undefined values\n});\n\nflow.set(\"out_of_control\",out_ctrl);                // save to flow variable\nflow.set(\"out_of_reaction\",out_react);              // save to flow variable\nflow.set(\"reaction_values\",reaction_values);        // save out of reaction values for email notification\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":500,"wires":[["686e66926bd9328a","0bc4bcad21a144d4"]]},{"id":"9d65f37d3f9ca919","type":"comment","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"if not empty, there are some specs out of reaction, notification must be sent","info":"","x":2740,"y":460,"wires":[]},{"id":"19fbcf7f5755dee9","type":"link out","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"out_SpecValidation","mode":"link","links":["c694bb98e43ba553"],"x":2800,"y":540,"wires":[]},{"id":"0bc4bcad21a144d4","type":"link out","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"out_specValidation","mode":"link","links":["da778d0b71964aa6"],"x":2520,"y":500,"wires":[]},{"id":"df5d5f05d4bf4ab7","type":"comment","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"go to FinalDataObj","info":"","x":2650,"y":500,"wires":[]},{"id":"5a9832005bd656de","type":"complete","z":"447205f9c52006b9","d":true,"g":"fda705b472ca9152","name":"trigger after parsing","scope":["8d96daaa8bcd8c9e"],"uncaught":false,"x":490,"y":820,"wires":[["5e20ea2364fe3ce7"]]},{"id":"5e20ea2364fe3ce7","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":680,"y":820,"wires":[["704b4b9a9eeb632f"]]},{"id":"23bed88a08754614","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":940,"wires":[[]]},{"id":"704b4b9a9eeb632f","type":"fs-ops-delete","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"delete text file","path":"/data/ShivDataOutput/Jomesa/","pathType":"str","filename":"text_files","filenameType":"flow","x":700,"y":880,"wires":[["23bed88a08754614"]]},{"id":"7880f98da2e28532","type":"complete","z":"447205f9c52006b9","d":true,"g":"fda705b472ca9152","name":"trigger after email","scope":["3b7d882b8662f018"],"uncaught":false,"x":940,"y":820,"wires":[["67c9b75d72316284"]]},{"id":"96bfc5789db92671","type":"function","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"set pdf move paths","func":"var part = flow.get('partName');\nvar report = flow.get('reportNum');\n\nmsg.srcPath = '/data/ShivDataOutput/Jomesa/';\nmsg.srcFile = flow.get('files')[1]; \n\nmsg.destPath = '/data/Jomesa_SedimentTest/'+part+'/';\nmsg.destFile = report + '_fullreport.pdf';\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":880,"wires":[["185c8573a46f1835"]]},{"id":"aed8326e583eb95e","type":"catch","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"catch fs-ops error","scope":["704b4b9a9eeb632f","185c8573a46f1835","5458709a7401e5fa"],"uncaught":false,"x":480,"y":1000,"wires":[["bb022f79a52ab9bd"]]},{"id":"bb022f79a52ab9bd","type":"function","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"do nothing","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1000,"wires":[[]]},{"id":"185c8573a46f1835","type":"fs-ops-move","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"move pdf file","sourcePath":"srcPath","sourcePathType":"msg","sourceFilename":"srcFile","sourceFilenameType":"msg","destPath":"destPath","destPathType":"msg","destFilename":"destFile","destFilenameType":"msg","link":false,"x":1150,"y":880,"wires":[["59107ea88172eb22"]]},{"id":"d138778d33f51fe9","type":"link out","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"out_endProcedure","mode":"link","links":["83dc02a19903b103"],"x":1260,"y":1000,"wires":[]},{"id":"59107ea88172eb22","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":940,"wires":[["d138778d33f51fe9"]]},{"id":"943f978f5a698562","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":820,"wires":[["96bfc5789db92671"]]},{"id":"61c3448a13a22691","type":"comment","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"remove text file from /data/ShivDataOutput/Jomesa","info":"","x":590,"y":780,"wires":[]},{"id":"d20f3c952c676ba3","type":"comment","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"move pdf file from /data/Jomesa_SedimentTest","info":"","x":1040,"y":780,"wires":[]},{"id":"eec992541ece946a","type":"comment","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"return to STARTUP to find new files","info":"","x":1060,"y":1000,"wires":[]},{"id":"874541026c738320","type":"Datahub Publish","z":"447205f9c52006b9","d":true,"g":"29e81cdb7824f270","name":"To MSSQL Integration via topic \"Send_To_MSSQL.>\"","natc":"","topicname":"","x":3520,"y":360,"wires":[]},{"id":"c0fc229720484997","type":"Datahub Subscribe","z":"447205f9c52006b9","d":true,"g":"29e81cdb7824f270","name":"","natc":"","topicname":"Send_To_MSSQL.>","x":2710,"y":240,"wires":[["efb7bb97a951721b"]]},{"id":"efb7bb97a951721b","type":"debug","z":"447205f9c52006b9","g":"29e81cdb7824f270","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2950,"y":240,"wires":[]},{"id":"87f6d54a02c85e57","type":"debug","z":"447205f9c52006b9","g":"29e81cdb7824f270","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3370,"y":300,"wires":[]},{"id":"41b1a15f69a39a63","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"parse data","func":"/* DATALIST =\n * [0] DATE\n * [1] REPORT_NO\n * [3] PART_NAME  */\n\nvar data = flow.get(\"data\");\nvar myData = data.split(\",\");\n\nvar analysis = myData[0];\nvar reportNum = myData[1];\nvar part = myData[3];\n\n\nflow.set(\"dateOfAnalysis\",analysis);\nflow.set(\"reportNum\",reportNum);\nflow.set(\"partName\",part);\n\nmsg.payload = myData;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["1a88d7c4b651590e"]]},{"id":"339536fc9011b422","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"parse ZF data","func":"/* DATALIST =\n * [2] LOCATION\n * [4] K\n * [5] J\n * [6] I\n * [7] H\n * [8] WEIGHT\n * [9] METALLIC_LEN\n * [10] METALLIC_WIDTH\n * [11] NON_METALLIC_LEN\n * [12] NON_METALLIC_WIDTH\n * [13] FIBER_LEN\n * [14] TOTAL_FIBERS\n * [15] RESULT              */\n\nvar data = flow.get(\"data\");\nvar myData = data.split(\",\");\n\nvar location = myData[2]\nvar K = parseFloat(myData[4]);\nvar J = parseFloat(myData[5]);\nvar I = parseFloat(myData[6]);\nvar H = parseFloat(myData[7]);\nvar weight = parseFloat(myData[8]);\nvar metallic_len = parseFloat(myData[9]);\nvar metallic_width = parseFloat(myData[10]);\nvar non_metallic_len = parseFloat(myData[11]);\nvar non_metallic_width = parseFloat(myData[12]);\nvar fiber_len = parseFloat(myData[13]);\nvar total_fibers = parseFloat(myData[14]);\n\nflow.set(\"location\",location);\nflow.set(\"K\",K);\nflow.set(\"J\",J);\nflow.set(\"I\",I);\nflow.set(\"H\",H);\nflow.set(\"weight\",weight);\nflow.set(\"met_len\",metallic_len);\nflow.set(\"met_width\",metallic_width);\nflow.set(\"non_met_len\",non_metallic_len);\nflow.set(\"non_met_width\",non_metallic_width);\nflow.set(\"fiber_len\",fiber_len);\nflow.set(\"total_fibers\",total_fibers);\n\nmsg.payload = [flow.get(\"partName\")];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":540,"wires":[["293470f827897582"]]},{"id":"ae830e4f56a1ddae","type":"switch","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"check partname","property":"partName","propertyType":"flow","rules":[{"t":"cont","v":"10R140 Body","vt":"str"},{"t":"cont","v":"10R140 Slide","vt":"str"},{"t":"cont","v":"10R140 Rotor","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1140,"y":400,"wires":[["792ebb43bc5ec7e6"],["6b798b18f95ee992"],["0280c34e3cc0ca4f"]]},{"id":"3c20f2ed5c9c5b81","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set QE to Ken S. ","rules":[{"t":"set","p":"QE","pt":"msg","to":"kservos@stackpole.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[[]]},{"id":"4d267486fb2873b5","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set QE to Virginia A. ","rules":[{"t":"set","p":"QE","pt":"msg","to":"vavery@stackpole.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":500,"wires":[[]]},{"id":"293470f827897582","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set ZF Specs","rules":[{"t":"set","p":"ctrl","pt":"msg","to":"ctrl_ZF","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":540,"wires":[["1b3f74f7a5e3ae5b"]]},{"id":"1b3f74f7a5e3ae5b","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"save ZF measured","func":"var weight = flow.get(\"weight\");\nvar fiber_len = flow.get(\"fiber_len\");\nvar K = flow.get(\"K\");            // get K\nvar J = flow.get(\"J\");            // get J\nvar I = flow.get(\"I\");            // get I\nvar measured = []; \n\nmeasured.push(weight);\nmeasured.push(fiber_len);\nmeasured.push(K);          // add all characteristics to measured array\nmeasured.push(J);\nmeasured.push(I);          // [K, J, I, H]\n\nvar out_ctrl = [\"Weight\",\"Largest Fiber\",\"K\",\"J\",\"I\"];       // list of all characters, if out of ctrl/reaction, it is removed from array\n\nmsg.measured = measured; \nmsg.out_ctrl = out_ctrl;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":540,"wires":[["8d96daaa8bcd8c9e"]]},{"id":"b449aa149caa3403","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set QE to Virginia A. ","rules":[{"t":"set","p":"QE","pt":"msg","to":"vavery@stackpole.com","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":620,"wires":[[]]},{"id":"e7cf363f94d08f24","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"save GME measured","func":"var K = flow.get(\"K\");            // get JK\nvar J = flow.get(\"J\");            // get HI\nvar I = flow.get(\"I\");            // get FG\nvar H = flow.get(\"H\");\nvar measured = []; \n\nmeasured.push(K);          // add all characteristics to measured array\nmeasured.push(J);\nmeasured.push(I);          // [JK, HI, FG, CE]\nmeasured.push(H);\n\nvar out_ctrl = [\"K\",\"J\",\"I\",\"H\"];       // list of all characters, if out of ctrl/reaction, it is removed from array\nvar out_react =  [\"K\",\"J\",\"I\",\"H\"];\n\nmsg.measured = measured; \nmsg.out_ctrl = out_ctrl;\nmsg.out_react = out_react;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":660,"wires":[["8d96daaa8bcd8c9e"]]},{"id":"a387917380784a65","type":"function","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"parse GME data","func":"/* DATALIST =\n * [2] LOCATION\n * [4] K\n * [5] J\n * [6] I\n * [7] H\n * [8] WEIGHT\n * [9] METALLIC_LEN\n * [10] METALLIC_WIDTH\n * [11] NON_METALLIC_LEN\n * [12] NON_METALLIC_WIDTH\n * [13] FIBER_LEN\n * [14] TOTAL_FIBERS\n * [15] RESULT              */\n\nvar data = flow.get(\"data\");\nvar myData = data.split(\",\");\n\nvar location = myData[2]\nvar K = parseFloat(myData[4]);\nvar J = parseFloat(myData[5]);\nvar I = parseFloat(myData[6]);\nvar H = parseFloat(myData[7]);\nvar weight = parseFloat(myData[8]);\nvar metallic_len = parseFloat(myData[9]);\nvar metallic_width = parseFloat(myData[10]);\nvar non_metallic_len = parseFloat(myData[11]);\nvar non_metallic_width = parseFloat(myData[12]);\nvar fiber_len = parseFloat(myData[13]);\nvar total_fibers = parseFloat(myData[14]);\n//var result = myData[15];\n\nflow.set(\"location\",location);\nflow.set(\"K\",K);\nflow.set(\"J\",J);\nflow.set(\"I\",I);\nflow.set(\"H\",H);\nflow.set(\"weight\",weight);\nflow.set(\"met_len\",metallic_len);\nflow.set(\"met_width\",metallic_width);\nflow.set(\"non_met_len\",non_metallic_len);\nflow.set(\"non_met_width\",non_metallic_width);\nflow.set(\"fiber_len\",fiber_len);\nflow.set(\"total_fibers\",total_fibers);\n//flow.set(\"result\",result);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":660,"wires":[["3e6aaa9196819e8c"]]},{"id":"3e6aaa9196819e8c","type":"change","z":"447205f9c52006b9","g":"6f521e616a23443f","name":"set GME Specs","rules":[{"t":"set","p":"ctrl","pt":"msg","to":"ctrl_GME","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":660,"wires":[["e7cf363f94d08f24"]]},{"id":"7f0b5b914b2ebd22","type":"switch","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"none out of reaction","property":"out_of_reaction","propertyType":"flow","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":1820,"y":820,"wires":[["20546b3d37210c71"]]},{"id":"5458709a7401e5fa","type":"fs-ops-delete","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"delete pdf file","path":"/data/ShivDataOutput/Jomesa/","pathType":"str","filename":"pdf_files","filenameType":"flow","x":1810,"y":880,"wires":[["7663624e9cbdbb0c"]]},{"id":"20546b3d37210c71","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1640,"y":880,"wires":[["5458709a7401e5fa"]]},{"id":"7663624e9cbdbb0c","type":"delay","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1740,"y":940,"wires":[["d138778d33f51fe9"]]},{"id":"cb2e26201328631d","type":"complete","z":"447205f9c52006b9","d":true,"g":"fda705b472ca9152","name":"trigger after FinalDataObject","scope":["7e1d0a0fb1e9dcc5"],"uncaught":false,"x":1580,"y":820,"wires":[["7f0b5b914b2ebd22"]]},{"id":"1c3fc634512b7312","type":"comment","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"delete pdf file when specs are valid","info":"","x":1600,"y":780,"wires":[]},{"id":"67c9b75d72316284","type":"switch","z":"447205f9c52006b9","g":"fda705b472ca9152","name":"out of reaction not empty","property":"out_of_reaction","propertyType":"flow","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":820,"wires":[["943f978f5a698562"]]},{"id":"3d86ad0d182834b8","type":"function","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"Check Pass/Fail Report","func":"var result = \"\";\nvar ctrl = msg.ctrl;\nvar measured = msg.measured;\nvar out_ctrl = msg.out_ctrl;\nvar ctrl_values = [];\n\n\nfor(let i = 0; i < measured.length; i++){\n    if(measured[i] < ctrl[i]){\n        delete out_ctrl[i];\n    }else{\n        ctrl_values.push(measured[i]);\n    }\n}\n\nout_ctrl = out_ctrl.filter(function(element){\n    return element !== undefined;\n});\n\nif(ctrl_values.length < 0){\n    result = \"Fail\";\n}else{\n    result = \"Pass\";\n}\n\nflow.set(\"out_of_reaction\",out_ctrl);              // save to flow variable\nflow.set(\"reaction_values\",ctrl_values);        // save out of reaction values for email notification\nflow.set(\"result\",result);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":580,"wires":[["686e66926bd9328a","b8f0d8c65ab33195"]]},{"id":"f40815f478b4f0fb","type":"switch","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"","property":"partName","propertyType":"flow","rules":[{"t":"cont","v":"10R140","vt":"str"},{"t":"cont","v":"ZF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":540,"wires":[["0d9d43c82e5fbe89"],["3d86ad0d182834b8"]]},{"id":"2ec848e40c55cef0","type":"comment","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"specific for 10R140 components","info":"","x":2330,"y":460,"wires":[]},{"id":"b8f0d8c65ab33195","type":"link out","z":"447205f9c52006b9","g":"4620efd84ef6704a","name":"out_specValidation","mode":"link","links":["da778d0b71964aa6"],"x":2520,"y":580,"wires":[]},{"id":"b141b427651f3486","type":"inject","z":"447205f9c52006b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2480,"y":360,"wires":[["7e1d0a0fb1e9dcc5"]]}]