Daily Quality Audit/Daily Quality Audits.json
[{"id":"6d027d56.74f544","type":"tab","label":"Daily Quality Audits","disabled":false,"info":""},{"id":"bdfa349d.659338","type":"group","z":"6d027d56.74f544","name":"Prototype","style":{"fill":"#dbcbe7","label":true,"fill-opacity":"0.6","stroke":"#000000","color":"#000000"},"nodes":["dc1b552c.44f0f8","f0d97d81.06f99","9a47f29f.007d7","d31609d1.ff9578","adf0c15a.76b43","830290d2.16ab6","a0e0f93.661f308","f0d9850c.bea4b8","318e13e4.ccec0c","a36cf89d.63b7c8","12c7fa00.8ddf86","49abf0b430fb7635"],"x":2274,"y":1819,"w":1352,"h":262},{"id":"531b0778.d69e38","type":"group","z":"6d027d56.74f544","name":"Specific Requests","style":{"label":true,"color":"#000000","fill":"#bfdbef","fill-opacity":"0.54","stroke":"#000000"},"nodes":["1f23199.d095ce6","834b9aa8.718978","2c5d275e.9d3d08","ed632c2c.d6e03","a531ddaf.5decb","512be033.a13f8","d9fe605b.ee515","146f973a.603679","ed8bfc40.474fd","2e0c90a6.09c42","3c7e9f07.a1574","82cb0dfc.30f47","65987f49.19294","77ff328c.7226dc","2eaec92a.67e566","6435dc14.e689e4","8caa2921.da5308","47fd237e.738abc","70d85eee.8b3b2","ab45f40f.e89018","a00aee41.e5025","2668c483.40f0fc","ccbe6494.2edd08","aa774dc9.a1be5","6293183d.d5d068","98743dd0.10c66","d8c4da44.6e40e8","7a753a76.1185e4","f6a4f4a8.33e6b8","bc7e4c61.a30b8","b6cff7f8.7404e8","32eb6966.239aa6","88818920.7d3258","31ef3173.90efce","b2e5282e.399ba8","f304c07b.f47cb","efcb9577.1f8198","b84b6f9547b17f53","3854fd9dc2d95959","9a07e61540f590e1","4e039661e31cbb42","86a5fbe4027580fe","5d4648bfd7a19202","8198903771005727","f37a4fb3bae9f0bd","997391ef4230e58b","14389cb3b9059050","d0d734be0f165a12","89329cae36bb629d","ba062249dd227c8b","77d41d03cdabbb88","ef542d2f23277f09","54a6fd60e30bcdf3","41685ccf9407894e","20650b3760364aec","20c5a2eaebf7dc52"],"x":34,"y":739,"w":2052,"h":542},{"id":"39640cf.96c1ff4","type":"group","z":"6d027d56.74f544","name":"Header","style":{"fill":"#e3f3d3","fill-opacity":"0.55","label":true,"color":"#000000","stroke":"#000000"},"nodes":["86365787.4bddb8","65bdb92a.80e1d8","5be9f171.68f21","c30b11fa.fb822","d16ed493.4781d8","ec7bf3fc.50033","b21bc1b6.e647e","63ed7905.874958","4398d1bd.a9b93","5c1cad9e.869184","bcd37369.0a9a2","d880ce70.c640c","38bb3386.2816dc","3542ece8.e65b94","387d8ce9.e59024","f78f6d83.6f406","8055b2f7.378b1","f108d93b.d9fd58","5358873f.bef798","7dd11184.ab8ef","a80ad9d7.2cad98","f46cec11.191f5","2061efa1.346f3","91722722.138188","855af2f8.b4c","3fbfbc46.3e4da4","e5e651b7.1ae44","37b3eebd.a1beb2","82697a14.d79cf8","ccb55e156f84a32d"],"x":34,"y":19,"w":1232,"h":707},{"id":"6a20d1ea.17198","type":"group","z":"6d027d56.74f544","name":"End of Shift Comments","style":{"fill":"#bfdbef","fill-opacity":"0.54","label":true,"color":"#000000","stroke":"#000000"},"nodes":["ad0bbf4e.00ce9","2d3a12de.99d5fe","c13dce59.c0e3e","cc6a3794.b137c8","87fb60f0.4ba11","546536a1.836058","f74d84ee.75ba68","6e3f65fc.6cb04c","52255ed3.27588","da718bcc.fcec68","fd5d70ea.16666","3e50b666.59814a","9f5d2a54.bcfcb8","fa56b7e769326b1c"],"x":34,"y":3919,"w":1832,"h":282},{"id":"2218c8a1.f63338","type":"group","z":"6d027d56.74f544","name":"Bypass List - Other NDT Cells","style":{"fill":"#bfdbef","fill-opacity":"0.54","label":true,"color":"#000000","stroke":"#000000"},"nodes":["b76fe10b.76b61","20400066.1875c","74b52eec.2a25a","e3764d3a.feb03","720298f8.c75288","c6f62eaf.3e716","630537b0.80b228","2383fd0d.bde9d2","59d2c233.4e7eec","f4ada95a.72d2c8","b1e5d6f4.635e18","e74d2c58.67494","fdd0f389.ec2f3","6548c0f0.3848e","92c368e4.b2b4e8","78ba6523.e9cbac","66dc0dbf.5c05c4","8f734dcb.9da02","457a3ede.a7e2f","d78ef63b.383178","33c3d4d2.0eaefc","78824cf7.b8d2d4","123883cd.c1f96c","2a33ca65.c10006","b04d6241.fbe76","61ccba26.628674","2bc8a3b6.d7eaac","e8da022d.3dc56","67b56dbd.cd3994","444eae2e.6ec1b","698d0959.ecaa28","902424c5.6010d8","7a0b8dcb.153ba4","7268dbb0.71cd74","c781639f.fce24","15dee551.b2b35b","50ae925b.4972ac","ba6919f3.a7d058","83b3b62d.9833b8","53f9fda8.d2ca34","c42c9330.c05df","b726a081.104a","df907b07.1a0618","c0f6f3c1.81c53","562efa00.946038","2c6b6a4505b25c04","4d44b28427296633","69f6092b35de25e5","265758f12949f895","b9b7cb231d9cb67a","5db1fad8df300a64","e5691aba5e48f0ad","bdea24a4188a1c7d","d1b1d826f7b146af","dcdbf1f6c14c8366","a7f5941e7c1dc39e","1fe42a1de50cea22","4553da9a79285a9a","50e5a21d2a163461","883de37f0e26187f","e278083f9ca8130c","cdd454b71b93dec0","ba5cb37ab80c05f3","1b8ee7eb808f90e8","35592aaa1655aebd","2c03a3814706c80f","0fd77301c8db970d","3a2657b9de92d701","b7d8ea94c81200bf","47bc66b17c7508f7","98baafb5b821f062","88624ce1727698c9"],"x":34,"y":2868,"w":2052,"h":1013},{"id":"9d5df0fb.70e8a","type":"group","z":"6d027d56.74f544","name":"Email Verification","style":{"stroke":"#000000","stroke-opacity":"0.75","fill":"#ffefbf","fill-opacity":"0.74","label":true,"color":"#000000"},"nodes":["65dde53.af1071c","93f85106.663cc","d4a5ff84.175da","f960a2e3.136d","84c611b5.6b80c","671ad3b1.3ade6c","e95bc6c3.e75d68","8c0e65fa.02b688","78c0bcd6b4ec917e","faf719886f180afe","a659ce3332de5691"],"x":2274,"y":1174,"w":1092,"h":172},{"id":"6a4b8839.033658","type":"group","z":"6d027d56.74f544","name":"Critical Calls","style":{"label":true,"fill":"#bfdbef","fill-opacity":"0.54","color":"#000000","stroke":"#000000"},"nodes":["aaf1322e.6ffd","65637be1.e12554","264cf5d4.976a9a","8f898599.bccad8","39070722.4b4048","cf3a4cf3.99efb","e5e2b027.d91f","3e428a29.f684c6","fcfd1a9.cf3d1e8","2e06be6f.e2a172","c3d070e3.83b82","1281209b.35d75f","10e4c184.5b0dde","70930a34.b49d24","7a7fb0a3.6b883","fdcc2e97.84b03","bf963f8.e494bc","e0ccbb3.e72ae48","1498cc69.5a1cb4","4e1d102d.ad763","a50db25b.b3f12","ed0a419f.5009f","8d11158a.a073c8","6eaae7b5.76b028","d32145d2.aaaa78","dde74dc9.60307","7c4f231f.5b6cac","5ff319f9.4599a8","ad5de302.4712d","b49b608c.b72ab","e4253a69.aa1ee8","a974a5db.109c38","19934c39f3dbb3d1","3dd8047d335dc573","f3031d1dddc128f1","641d7abb586a442e","7b3a08f450109585","9903cee8ac0b1c67","5cc9b96fbc11ecc9","1f786e47508aed10","37f6a386909ff185","6d2e1589133e40bf","8eaccc146f391d61","2eb96df796ddb274","21b89d454d87701f","4d93cd6bd4db3d01","6aa376a47cd6f1e1","fbc6d925fb735e07","048e40b5f685c1f0","5c30264e951ef9bf","92c6c2de12052ae6","ec5e61dc5a7923c8","87de235c0af1e588","14519788b1869fc7","3a3a6e5b61e471fb","9e697d38ad212f4e","314507dab4e000d2"],"x":34,"y":1299,"w":1972,"h":582},{"id":"cd8425a287bc06fd","type":"group","z":"6d027d56.74f544","name":"Bypass List","style":{"stroke":"#000000","fill":"#bfdbef","fill-opacity":"0.55","label":true,"color":"#000000"},"nodes":["3aabb651.487eba","f73896d3.d839b8","bcbc61ee.b1a4a","576b5f2b.004e9","ea2d502e.4079","ae234418.4501b8","2e0ea3fb.53f16c","6f81d0e.a47dd3","7ff570ae.87bed","de96514f.576a9","c89178d4.1b81e8","2cf2e43d.7a4c6c","514067ea.3ee1f8","55ff723a.05de1c","24144182.29e22e","80135620.2dee98","8c2b76a6.af21c8","3bcefc27.f92bb4","b83d8afb.ac7498","f55860ed.61576","4464a812.be6468","be39ea1e.4cbae8","ccedfee.1af2e","3bf14f12.d055e","f977a72.424ab58","e47c258a.5777d8","be2890c2.613aa","9a8bd973.9ceac8","81caaa5f.12eba8","399af6a4.81be0a","4ae49e37.7d917","8c650532.f5fcb8","f5eca58e.785d88","ae423b98.a7aef8","d3ffd119.c4c6","8168de69.77069","64d8e8fa.d7f688","f2fd6a45.8a16a8","a12d2e.092842d","599fc8d3.c57cb8","a57fee51.1619a","e3344122.8f616","4108b41d.86304c","2ee42d3b.0a4a52","74916779.133e28","246b06812c5dadcf","90cfc332f45af5c2","b9f1777ce0e047c1","affb4434df73c293","42388a47a9263ebf","a73b35eedc401f39","0ebdf3fa44d571ed","8f6221dfca6de0aa","9f654ce76e09efec","d5b0f1fbc4f6982f","df17313df5ab26ac","39507e57112e7e77","72fd6299bd69ead3","fc325e84f208e879","25b2fdc244efbc39","99163b83876030dd","7ded103172623873","1bf667b666b68bdb","1c835b71dad51e4a","200fc1929714271e","0a212a2237dd651a","2726cc9247499dfb","14ae8334.25742d","b36f2f4a01d2dd8f","cd1ebd577db79715","347db06b4c2a5fbd","f3b84eebd216c656"],"x":34,"y":1888,"w":2052,"h":973},{"id":"23cb4049.87a51","type":"group","z":"6d027d56.74f544","name":"Database/SQL","style":{"stroke":"#000000","fill":"#dbcbe7","fill-opacity":"0.6","label":true,"color":"#000000"},"nodes":["349d750d.f0c88a","e37ee848.ca7ae8","9cd43af9.6e8f08","bff21dc6.3d5b9","5b36d5be.99dd8c","9894718b.0b84d","bf1a3d35.5cb41","c3255923.ce6af8","7a5b960e.47c5b8","64c72f99.65bcd","f9c5cbe0.2c7828","c0270c54.0c0aa","e9a327a9.d9bfa8","a98b06a7.5d9d58","3ccb9510.df332a","962cbdd6ad6a2c85"],"x":2274,"y":1359,"w":1572,"h":447},{"id":"e04cbc70.69a2d","type":"group","z":"6d027d56.74f544","name":"Finish Section","style":{"stroke":"#000000","fill":"#dbcbe7","fill-opacity":"0.6","label":true,"color":"#000000"},"nodes":["a9456f2e.e4a46","bb845548.11dd88","42c50879.c7cc48","2b15459f.a9934a","5efa540b.747f5c","1da998df.311e87","f5e5bb37.49f3e8","5b06c035.be62","88b630a2.b14c7","af0f0f5a.2f145","479f1a93.cb3d24","9ff3728b.be2fd","89de3037.78e42","87e49d24.0bc4b","9b37c69f.5e8de8","19ec48ac.e560f7","f3c7edc2.53483","50e66e6c.8ae5","c318cf9a.360ca","ba408f05.505db","c961430b.d9bda","58c9643.ae7ab9c","c9180276.efaa9","88aeda48.7bc2c8","98f3e1e4.66bc1","fcaf4f70.8e2b8","6fd44262.dd77bc","dbac3662.6725a8","af0e56fd.80d4a8","909eb58f.40f188","9309dd36.db3e4","ce43fef5.7aed3","3f996953.c69546","8db633ef.c148d","902c201c.52a63","6051f76b5bce495f","f429c5823fe2d170","abbfa0c1bfe3d781","1b0442d88940f639","165ca9454f4bd5c7","97d8429217433b11","5a24755bc684e9fd","9b4faa0c8db46e5b","b0f072e6f0a1e426","9da83dc9229ec1dd","a1bcab6b6c674c4b"],"x":2274,"y":559,"w":1832,"h":607},{"id":"562efa00.946038","type":"group","z":"6d027d56.74f544","g":"2218c8a1.f63338","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["caaa85f7.ee6218","dd6a38be.a58c88","8d892b35.05b228","75e38e4a.8b879","7b69d506.8aaecc"],"x":74,"y":2894,"w":372,"h":152},{"id":"14ae8334.25742d","type":"group","z":"6d027d56.74f544","g":"cd8425a287bc06fd","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["258c7bb5.96cae4","d74282bb.9f80b","dee876ce.dc4998","9ab86450.f1abb8","4cb1c0d5.c8b"],"x":74,"y":1914,"w":372,"h":152},{"id":"86365787.4bddb8","type":"function","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"global.Shift","func":"            var dte = new Date(Date.now());\n            //msg.AIInputDateTime = new Date(dt).toLocaleString().replace(/,/, '');\n            msg.datetime = (dte.getFullYear() + '-' + ('00' + (dte.getMonth()+1)).slice(-2) + '-' + ('00' + dte.getDate()).slice(-2) + ' ' + ('00' + dte.getHours()).slice(-2) + ':' + ('00' + dte.getMinutes()).slice(-2) + ':' + ('00' + dte.getSeconds()).slice(-2));\n            msg.ProdDate = (dte.getFullYear() + '-' + ('00' + (dte.getMonth()+1)).slice(-2) + '-' + ('00' + dte.getDate()).slice(-2)) ;\n            msg.ProdYear = dte.getFullYear();\n            msg.ProdMonth = (dte.getMonth()+1) ;\n            msg.ProdDay = dte.getDate();\n            CurHour = dte.getHours();\n            CurShiftTime = ('00' + dte.getHours()).slice(-2) + ('00' + dte.getMinutes()).slice(-2);\n            msg.CurShiftTime = CurShiftTime;\n            msg.Hour = CurHour;\n            \n            if (CurShiftTime >= \"0630\" && CurShiftTime < \"1500\"){\n                LEshift = 1;\n            }else if (CurShiftTime >= \"1500\" && CurShiftTime < \"2300\") {\n                LEshift = 2;\n            } else {\n                LEshift = 3;\n            };\n\n            global.set(\"Shift\", LEshift); \n            \n            msg.datetime = global.get(\"Shift\");\n            msg.payload = global.get(\"Shift\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["f46cec11.191f5","5be9f171.68f21"]],"info":"Determines what shift the current time is in\n\nautomatically saves Day, Afternoon and Night as the variable depending on the time\n\nglobal.set(\"Shift\", LEshift); \nglobal.get(\"Shift\")"},{"id":"65bdb92a.80e1d8","type":"inject","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"inject datetime","props":[{"p":"datetime","v":"","vt":"date"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":160,"y":200,"wires":[["86365787.4bddb8","c30b11fa.fb822"]]},{"id":"5be9f171.68f21","type":"ui_text","z":"6d027d56.74f544","g":"39640cf.96c1ff4","group":"89ae0c44.60a3","order":2,"width":7,"height":1,"name":"","label":"Shift","format":"{{msg.datetime}}","layout":"row-spread","x":670,"y":140,"wires":[]},{"id":"c30b11fa.fb822","type":"function","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"global.Date","func":"var d = new Date(Date.now());\n\nvar day = d.getDate();\nvar month = d.getMonth()+1;\nvar year = d.getFullYear();\n\nif(day <= 9)\n    day = \"0\"+day;\nif(month <= 9)\n    month = \"0\"+month;\n    \nvar date_out = month+\"/\"+day+\"/\"+year;\n\nglobal.set(\"Date\", date_out)\n\nmsg.datetime = global.get(\"Date\")\nmsg.payload = global.get(\"Date\")\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["a80ad9d7.2cad98","d16ed493.4781d8"]]},{"id":"d16ed493.4781d8","type":"ui_text","z":"6d027d56.74f544","g":"39640cf.96c1ff4","group":"89ae0c44.60a3","order":3,"width":7,"height":1,"name":"","label":"Date","format":"{{msg.datetime}}","layout":"row-spread","x":670,"y":260,"wires":[]},{"id":"ec7bf3fc.50033","type":"comment","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"Shift/Date Global Variables","info":"Shift Global Variable\nglobal.set(\"Shift\", LEshift)\n\nDate Global Variable\nglobal.set(\"Date\", date_out)","x":1010,"y":600,"wires":[]},{"id":"1f23199.d095ce6","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","label":"Item Description","tooltip":"Item/Part Description","group":"1ad4b2bf.64623d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":840,"wires":[["ed632c2c.d6e03"]]},{"id":"834b9aa8.718978","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","label":"Comments","tooltip":"","group":"1ad4b2bf.64623d","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":730,"y":960,"wires":[["512be033.a13f8"]]},{"id":"2c5d275e.9d3d08","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","label":"Action Taken On Shift","tooltip":"","group":"1ad4b2bf.64623d","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1000,"wires":[["d9fe605b.ee515"]]},{"id":"ed632c2c.d6e03","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_des","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":840,"wires":[["54a6fd60e30bcdf3"]]},{"id":"a531ddaf.5decb","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_req","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":880,"wires":[["54a6fd60e30bcdf3"]]},{"id":"512be033.a13f8","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_comments","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":960,"wires":[["54a6fd60e30bcdf3"]]},{"id":"d9fe605b.ee515","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_action","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1000,"wires":[["54a6fd60e30bcdf3"]]},{"id":"146f973a.603679","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_followup_Y_N","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1040,"wires":[["6293183d.d5d068"]]},{"id":"ed8bfc40.474fd","type":"ui_button","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","group":"1ad4b2bf.64623d","order":11,"width":4,"height":1,"passthru":false,"label":"Add To Report","tooltip":"","color":"","bgcolor":"","icon":"playlist_add","payload":"","payloadType":"str","topic":"","x":1400,"y":860,"wires":[["32eb6966.239aa6","5d4648bfd7a19202"]]},{"id":"2e0c90a6.09c42","type":"comment","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"text input save","info":"Text Input is saved to msg.payload by default.","x":730,"y":800,"wires":[]},{"id":"3c7e9f07.a1574","type":"function","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"save_values_sr","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"\";\nvar des = flow.get(\"sr_des\")||\"\";\nvar req = flow.get(\"sr_req\")||\"\";\n// added 1 field ----------------------\nvar category = flow.get(\"sr_category\")||\"\";\n// ------------------------------------\nvar comm = flow.get(\"sr_comments\")||\"\";\nvar action = flow.get(\"sr_action\")||\"\";\nvar y_n = flow.get(\"sr_followup_Y_N\")||\"\";\nvar fol_com = flow.get(\"sr_followup_comments\")||\"\";\nvar fol_per = flow.get(\"sr_followup_person\")||\"\";\n\nfol_per = fol_per.toString();\n\n// -----------------------\n// Create the FinalDataObj \n// -----------------------\nmyObj.reportnum = flow.get(\"report_num\");//[0] \nmyObj.section = \"Specific Requests\";    // [1]\nmyObj.workshift = global.get(\"Shift\");  // [2]\nmyObj.timestamp = Date.now();           // [3]\nmyObj.qt = qt;                          // [4]\nmyObj.des = des;                        // [5]\nmyObj.req = req;                        // [6]\n// added 1 field -------------------\n myObj.category = category              // [7]\n// ---------------------------------\nmyObj.comm = comm;                      // [8]\nmyObj.action = action;                  // [9]\nmyObj.y_n = y_n;                        // [10]\nmyObj.fol_com = fol_com;                // [11]\nmyObj.fol_per = fol_per                 // [12]\nflow.set(\"SR_FINALDATAOBJ\", myObj)\n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_sr = \"\";\nvalues_sr = Object.values(myObj);\n\nvar values_sr_noNull = \"\";\nflow.set(\"VALUES_SR_NONULL\", 0);\nvalues_sr_noNull = values_sr.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_SR_NONULL\", values_sr_noNull);\n\n// Send msg payload to the respective output                     13                                                                 9\nif((values_sr_noNull[10] === \"Yes\" && values_sr_noNull.length === 13) || (values_sr_noNull[10] === \"No\" && values_sr_noNull.length >= 9)){\n    // may or may not have a comment if NO\n    // must have a comment if YES\n    \n    //msg.payload = \"Specific Requests~@$\"+des+\"~@$\"+req+\"~@$\"+comm+\"~@$\"+action+\"~@$\"+y_n+\"~@$\"+fol_com+\"~@$\"+fol_per;\n    msg.topic = \"Specific Requests\" + values_sr_noNull.length;\n    msg.FinalDataObj = myObj;\n\n    return [msg,]\n}\nelse{\n    msg2.payload = \"Make sure all Specific Requests fields are completed before \\\"Add to Report\\\"\"\n    msg2.topic = \"Missing Data\"+ values_sr_noNull.length;\n    \n    return [,msg2]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":1000,"wires":[["a00aee41.e5025","2668c483.40f0fc","f304c07b.f47cb","20c5a2eaebf7dc52","88aeda48.7bc2c8"],["ccbe6494.2edd08","a00aee41.e5025"]],"info":"Saves text input values to msg.payload"},{"id":"82cb0dfc.30f47","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":920,"wires":[["1f23199.d095ce6","834b9aa8.718978","2c5d275e.9d3d08","2eaec92a.67e566","77ff328c.7226dc","6435dc14.e689e4","b84b6f9547b17f53","997391ef4230e58b","4e039661e31cbb42","41685ccf9407894e"]]},{"id":"65987f49.19294","type":"comment","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset entry boxes","info":"resets msg.payload so inputs are blank once button is clicked","x":900,"y":800,"wires":[]},{"id":"77ff328c.7226dc","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","label":"Requested By","tooltip":"First Name, Last Initial","group":"1ad4b2bf.64623d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":880,"wires":[["a531ddaf.5decb"]]},{"id":"2eaec92a.67e566","type":"ui_dropdown","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Follow up?","label":"","tooltip":"If issue is resolved within shift indicate NO for no follow up action. If further activity is required indicate YES with comments regarding what is unresolved.","place":"Is Follow Up Required (Yes/No)","group":"1ad4b2bf.64623d","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"}],"payload":"","topic":"","x":730,"y":1040,"wires":[["146f973a.603679"]]},{"id":"6435dc14.e689e4","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","label":"Follow Up Action Comments","tooltip":"","group":"1ad4b2bf.64623d","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":680,"y":1080,"wires":[["8caa2921.da5308"]]},{"id":"8caa2921.da5308","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_followup_comments","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1080,"wires":[["54a6fd60e30bcdf3"]]},{"id":"47fd237e.738abc","type":"comment","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"text input save","info":"Text Input is saved to msg.payload by default.","x":170,"y":840,"wires":[]},{"id":"3aabb651.487eba","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Machine","label":"","tooltip":"Entry For All Machines is REQUIRED","place":"Select Machine","group":"e57e4ab4.9c0fe8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"6170","value":"6170","type":"str"},{"label":"6760","value":"6760","type":"str"},{"label":"6210","value":"6210","type":"str"},{"label":"6670","value":"6670","type":"str"}],"payload":"","topic":"","x":880,"y":2160,"wires":[["ae234418.4501b8"]]},{"id":"f73896d3.d839b8","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Running ?","label":"","tooltip":"","place":"Running As Intended?","group":"e57e4ab4.9c0fe8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"},{"label":"NSR","value":"NSR","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":870,"y":2240,"wires":[["6f81d0e.a47dd3"]]},{"id":"bcbc61ee.b1a4a","type":"ui_text_input","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","label":"Specific Issues During the Shift","tooltip":"","group":"e57e4ab4.9c0fe8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":810,"y":2360,"wires":[["de96514f.576a9"]]},{"id":"576b5f2b.004e9","type":"ui_text_input","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","label":"Follow Up Details","tooltip":"","group":"e57e4ab4.9c0fe8","order":9,"width":7,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":850,"y":2480,"wires":[["c89178d4.1b81e8"]]},{"id":"ea2d502e.4079","type":"ui_button","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","group":"e57e4ab4.9c0fe8","order":14,"width":4,"height":1,"passthru":false,"label":"Add To Report","tooltip":"","color":"","bgcolor":"","icon":"playlist_add","payload":"","payloadType":"str","topic":"","x":1480,"y":2220,"wires":[["a12d2e.092842d","99163b83876030dd"]]},{"id":"ae234418.4501b8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2160,"wires":[["e47c258a.5777d8","74916779.133e28"]]},{"id":"2e0ea3fb.53f16c","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_process","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2200,"wires":[["74916779.133e28"]]},{"id":"6f81d0e.a47dd3","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_run","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":2240,"wires":[["3bcefc27.f92bb4","74916779.133e28"]]},{"id":"7ff570ae.87bed","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_partrun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2280,"wires":[["74916779.133e28"]]},{"id":"de96514f.576a9","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_issues","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2360,"wires":[["74916779.133e28"]]},{"id":"c89178d4.1b81e8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_followup_details","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2480,"wires":[["74916779.133e28"]]},{"id":"2cf2e43d.7a4c6c","type":"complete","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"loop bp entry","scope":["bb845548.11dd88","55ff723a.05de1c"],"uncaught":false,"x":190,"y":2240,"wires":[["399af6a4.81be0a","f977a72.424ab58","72fd6299bd69ead3","cd1ebd577db79715"]]},{"id":"70d85eee.8b3b2","type":"comment","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset entry boxes","info":"resets msg.payload so inputs are blank once button is clicked","x":360,"y":960,"wires":[]},{"id":"514067ea.3ee1f8","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["42c50879.c7cc48"],"x":220,"y":2280,"wires":[["f977a72.424ab58"]]},{"id":"ab45f40f.e89018","type":"link in","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["42c50879.c7cc48"],"x":220,"y":960,"wires":[["82cb0dfc.30f47","b6cff7f8.7404e8","997391ef4230e58b"]]},{"id":"55ff723a.05de1c","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["349d750d.f0c88a"],"x":1900,"y":2360,"wires":[]},{"id":"a00aee41.e5025","type":"debug","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":1000,"wires":[]},{"id":"b21bc1b6.e647e","type":"ui_template","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","group":"a4331e30.6064c","name":"Left Spacer","order":1,"width":12,"height":20,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":100,"wires":[[]]},{"id":"63ed7905.874958","type":"ui_template","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","group":"13955d6e.bc6943","name":"Right Spacer","order":1,"width":13,"height":20,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":470,"y":60,"wires":[[]]},{"id":"4398d1bd.a9b93","type":"ui_template","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","group":"bf2b0852.58b478","name":"Right Spacer 2","order":1,"width":13,"height":19,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":100,"wires":[[]]},{"id":"24144182.29e22e","type":"function","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"save_values_bypass","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"\";\nvar machine = flow.get(\"bl_machine\")||\"\";\nvar process = flow.get(\"bl_process\")||\"\";\nvar run = flow.get(\"bl_run\")||\"\";\nvar partrun = flow.get(\"bl_partrun\")||\"\";\n// added field ---------------------------------\nvar category = flow.get(\"bl_category\")||\"\";\n// ---------------------------------------------\nvar issues = flow.get(\"bl_issues\")||\"\";\n// added fields --------------------------------\nvar active = flow.get(\"bl_rid\")||\"\";\nvar ridnum = flow.get(\"bl_ridNum\")||\"\";\n// ---------------------------------------------\nvar details = flow.get(\"bl_followup_details\")||\"\";\nvar fol_per = flow.get(\"bl_followup_person\")||\"\";\n\nfol_per = fol_per.toString();\n\nmyObj.reportnum = flow.get(\"report_num\");               // [0]\nmyObj.section = \"Bypass List\";                          // [1]\nmyObj.workshift = global.get(\"Shift\");                  // [2]\nmyObj.timestamp = Date.now();                           // [3]\nmyObj.qt = qt;                                          // [4]\nmyObj.machine = machine;                                // [5]\nmyObj.process = process;                                // [6]\nmyObj.run = run;                                        // [7]\nmyObj.partrun = partrun;                                // [8]\n// added fields ------------------------------------\nmyObj.category = category;                              // [9]\n// -------------------------------------------------\nmyObj.issues = issues;                                  // [10]\n// added fields ------------------------------------\nmyObj.activeRid = active;                               // [11]\nmyObj.ridNum = ridnum;                                  // [12]\n// -------------------------------------------------\nmyObj.details = details;                                // [13]\nmyObj.fol_per = fol_per;                                // [14]\nflow.set(\"BL_FINALDATAOBJ\", myObj); \n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_bl = \"\";\nvalues_bl = Object.values(myObj);\n\nvar values_bl_noNull = \"\";\nflow.set(\"VALUES_BL_NONULL\",0);\nvalues_bl_noNull = values_bl.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_BL_NONULL\", values_bl_noNull);\n// (values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"No\" && values_bl_noNull.length >= ***14) || (values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"Yes\" && values_bl_noNull.length >= ***15) || (values_bl_noNull[7] === \"NSR\" && values_bl_noNull.length >= 8))\nif((values_bl_noNull[7] === \"Yes\" && values_bl_noNull.length >= 9) || (values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"No\" && values_bl_noNull.length >= 14) ||values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"Yes\" && values_bl_noNull.length >= 15|| (values_bl_noNull[7] === \"NSR\" && values_bl_noNull.length >= 8)){\n    //msg.payload = \"BP3~@$\"+machine+\"~@$\"+process+\"~@$\"+run+\"~@$\"+partrun+\"~@$\"+issues+\"~@$\"+details;\n    msg.topic = \"Bypass List\";\n    msg.FinalDataObj = myObj;\n}\nelse{\n    msg2.payload = \"Make sure all Bypass List fields are completed before \\\"Add to Report\\\"\"\n    msg2.topic = \"Missing Data\";\n    \n    return [,msg2];\n}\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":2400,"wires":[["55ff723a.05de1c","80135620.2dee98","a57fee51.1619a","f3b84eebd216c656","88aeda48.7bc2c8"],["8c2b76a6.af21c8"]],"info":"Saves text input values to msg.payload"},{"id":"80135620.2dee98","type":"debug","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":2400,"wires":[]},{"id":"2668c483.40f0fc","type":"link out","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["9cd43af9.6e8f08"],"x":1660,"y":960,"wires":[]},{"id":"ccbe6494.2edd08","type":"ui_toast","z":"6d027d56.74f544","g":"531b0778.d69e38","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing SR Data","x":1750,"y":1040,"wires":[[]]},{"id":"aa774dc9.a1be5","type":"complete","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"loop sr entry","scope":["bb845548.11dd88","2668c483.40f0fc"],"uncaught":false,"x":170,"y":920,"wires":[["82cb0dfc.30f47","b6cff7f8.7404e8","997391ef4230e58b"]]},{"id":"8c2b76a6.af21c8","type":"ui_toast","z":"6d027d56.74f544","g":"cd8425a287bc06fd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing BL Data","x":1840,"y":2440,"wires":[[]]},{"id":"5c1cad9e.869184","type":"ui_text","z":"6d027d56.74f544","g":"39640cf.96c1ff4","group":"89ae0c44.60a3","order":1,"width":14,"height":1,"name":"QA Report No","label":"<b>QA Report No.: &nbsp;</b>","format":"<font color=#fbb54b><i> {{msg.payload}}</i></font>","layout":"row-center","x":1160,"y":400,"wires":[]},{"id":"bcd37369.0a9a2","type":"change","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","name":"Report No.","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_num","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":320,"wires":[["5c1cad9e.869184"]]},{"id":"d880ce70.c640c","type":"complete","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","scope":["2b15459f.a9934a"],"uncaught":false,"x":170,"y":420,"wires":[["bcd37369.0a9a2","387d8ce9.e59024","5358873f.bef798"]]},{"id":"38bb3386.2816dc","type":"ui_template","z":"6d027d56.74f544","g":"39640cf.96c1ff4","group":"d174281c.ac2218","name":"Header","order":1,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n     \n        var div1 = $('<div/>');\n        var p1 = $('<p/>');\n\n        div1.append(p1);\n        div1[0].style.margin = 'auto';\n\n        //add clock\n        var div2 = $('<div/>');\n        var p2 = $('<p/>');\n\n        div2.append(p2);\n        div2[0].style.margin = '100px';\n\n        function displayTime() {\n            p2.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":320,"y":60,"wires":[[]]},{"id":"3542ece8.e65b94","type":"ui_ui_control","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","events":"change","x":180,"y":160,"wires":[["387d8ce9.e59024","bcd37369.0a9a2","63ed7905.874958","4398d1bd.a9b93","b21bc1b6.e647e","5358873f.bef798","86365787.4bddb8","c30b11fa.fb822"]]},{"id":"387d8ce9.e59024","type":"function","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","name":"flow.report_num","func":"msg.payload = flow.get(\"report_num\")||\"QAR00001\"\n\n\nif (flow.get(\"report_num\") === undefined || flow.get(\"report_num\") === null){\n    flow.set(\"report_num\", \"QAR00001\");\n}\nif (flow.get(\"num\") === undefined || flow.get(\"num\") === null){\n    flow.set(\"num\", 1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":360,"wires":[["5c1cad9e.869184"]]},{"id":"3bcefc27.f92bb4","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["b83d8afb.ac7498"],"x":1420,"y":2040,"wires":[]},{"id":"b83d8afb.ac7498","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["3bcefc27.f92bb4"],"x":100,"y":2420,"wires":[["f55860ed.61576"]]},{"id":"f55860ed.61576","type":"switch","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","property":"bl_run","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"NSR","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":2500,"wires":[["4464a812.be6468"],["be39ea1e.4cbae8"],["ccedfee.1af2e"]]},{"id":"4464a812.be6468","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"yes","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2440,"wires":[["576b5f2b.004e9","bcbc61ee.b1a4a","9a8bd973.9ceac8","246b06812c5dadcf","0a212a2237dd651a","39507e57112e7e77","347db06b4c2a5fbd"]]},{"id":"be39ea1e.4cbae8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"nsr","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2480,"wires":[["bcbc61ee.b1a4a","576b5f2b.004e9","4108b41d.86304c","246b06812c5dadcf","0a212a2237dd651a","39507e57112e7e77","affb4434df73c293","347db06b4c2a5fbd"]]},{"id":"ccedfee.1af2e","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"no","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2520,"wires":[["ae423b98.a7aef8"]]},{"id":"3bf14f12.d055e","type":"inject","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"enable","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":200,"y":2200,"wires":[["f977a72.424ab58","72fd6299bd69ead3","cd1ebd577db79715"]]},{"id":"f977a72.424ab58","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2220,"wires":[["be2890c2.613aa","f73896d3.d839b8","bcbc61ee.b1a4a","576b5f2b.004e9","3aabb651.487eba","4108b41d.86304c","0a212a2237dd651a","39507e57112e7e77","246b06812c5dadcf","72fd6299bd69ead3","347db06b4c2a5fbd"]]},{"id":"6293183d.d5d068","type":"link out","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["98743dd0.10c66"],"x":1280,"y":1000,"wires":[]},{"id":"98743dd0.10c66","type":"link in","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["6293183d.d5d068"],"x":80,"y":1080,"wires":[["d8c4da44.6e40e8"]]},{"id":"d8c4da44.6e40e8","type":"switch","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"followup y/n switch","property":"sr_followup_Y_N","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1020,"wires":[["7a753a76.1185e4"],["f6a4f4a8.33e6b8"]]},{"id":"7a753a76.1185e4","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"yes - enabled/clear","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1000,"wires":[["6435dc14.e689e4","41685ccf9407894e"]]},{"id":"f6a4f4a8.33e6b8","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"no - disable/clear","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1040,"wires":[["6435dc14.e689e4","41685ccf9407894e"]]},{"id":"bc7e4c61.a30b8","type":"inject","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"enable","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":880,"wires":[["b6cff7f8.7404e8","997391ef4230e58b"]]},{"id":"b6cff7f8.7404e8","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["1f23199.d095ce6","77ff328c.7226dc","834b9aa8.718978","2c5d275e.9d3d08","2eaec92a.67e566","6435dc14.e689e4","b84b6f9547b17f53","997391ef4230e58b","4e039661e31cbb42","41685ccf9407894e"]]},{"id":"e47c258a.5777d8","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["258c7bb5.96cae4"],"x":1360,"y":2040,"wires":[]},{"id":"258c7bb5.96cae4","type":"link in","z":"6d027d56.74f544","g":"14ae8334.25742d","name":"","links":["e47c258a.5777d8"],"x":120,"y":1960,"wires":[["d74282bb.9f80b"]]},{"id":"d74282bb.9f80b","type":"function","z":"6d027d56.74f544","g":"14ae8334.25742d","name":"process switcher","func":"msg.payload = \"\";   // Clear the msg.payload everytime a new machine is selected from the preceding dropdown menu; \n                    // Otherwise, the machine no. (payload) will pass through to pre-populate the Process flow var prior to receiving a proper selection; confusing the noNULL array later on\n\nvar mach = flow.get(\"bl_machine\");\n//6210 6670\nif(mach === \"6170\"){\n    msg.options = [\"Bore Gauge\",\"Vision\", \"RI\"];\n}else if(mach === \"6760\"){\n    msg.options = [\"Bore Gauge\",\"Vision\", \"RI\"];\n}else if(mach === \"6210\"){\n    msg.options = [\"Bore Gauge\",\"Slot Gauge\",\"Vision\",\"Eddy Current\"];\n}else if(mach === \"6670\"){\n    msg.options = [\"Acoustic\",\"Vision\"];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1960,"wires":[["9ab86450.f1abb8","dee876ce.dc4998"]]},{"id":"be2890c2.613aa","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Process","label":"","tooltip":"","place":"Select Process/Gauge","group":"e57e4ab4.9c0fe8","order":2,"width":0,"height":0,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"","x":880,"y":2200,"wires":[["2e0ea3fb.53f16c"]]},{"id":"9a8bd973.9ceac8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":2320,"wires":[["4108b41d.86304c"]]},{"id":"81caaa5f.12eba8","type":"ui_button","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","group":"e57e4ab4.9c0fe8","order":13,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"","payloadType":"str","topic":"topic","topicType":"str","x":1530,"y":2120,"wires":[["8c650532.f5fcb8"]]},{"id":"399af6a4.81be0a","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2260,"wires":[["576b5f2b.004e9","bcbc61ee.b1a4a","f73896d3.d839b8","0a212a2237dd651a","39507e57112e7e77","246b06812c5dadcf","72fd6299bd69ead3","affb4434df73c293","347db06b4c2a5fbd"]]},{"id":"4ae49e37.7d917","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["8c650532.f5fcb8"],"x":400,"y":2180,"wires":[["f5eca58e.785d88","72fd6299bd69ead3","b36f2f4a01d2dd8f"]]},{"id":"8c650532.f5fcb8","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["4ae49e37.7d917"],"x":1700,"y":2120,"wires":[]},{"id":"f5eca58e.785d88","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2180,"wires":[["be2890c2.613aa","f73896d3.d839b8","bcbc61ee.b1a4a","576b5f2b.004e9","3aabb651.487eba","4108b41d.86304c","246b06812c5dadcf","0a212a2237dd651a","347db06b4c2a5fbd"]]},{"id":"f78f6d83.6f406","type":"MSSQL","z":"6d027d56.74f544","g":"39640cf.96c1ff4","mssqlCN":"c5739068.38b51","name":"Get","outField":"output","returnType":0,"throwErrors":"0","query":"Select distinct top (1) reportnum, id\r\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\r\n  order by id desc","modeOpt":"","modeOptType":"query","queryOpt":"query","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","rows":"","rowsType":"msg","params":[],"x":660,"y":500,"wires":[["f108d93b.d9fd58"]]},{"id":"8055b2f7.378b1","type":"template","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"If flow.report_num is undefined, get the last Report No. recorded in the DB","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select distinct top (1) reportnum, id\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\n  order by id desc","output":"str","x":700,"y":440,"wires":[["f78f6d83.6f406"]]},{"id":"f108d93b.d9fd58","type":"function","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"flow.report_num","func":"//var last_reportnum = msg.output[0].reportnum || \"QAR00001\";\n\nif(msg.output[0] === undefined){    \n    var last_reportnum = \"QAR00001\";  //If no record found in the db, i.e. new table, set Report No. to QAR00001\n}\nelse {\n    var last_reportnum = msg.output[0].reportnum  //Else, use the last report num from the db\n}\n\nmsg.payload = last_reportnum;\n\nif (flow.get(\"report_num\") === undefined || flow.get(\"report_num\") === null){\n    flow.set(\"report_num\", last_reportnum);\n}\n\nflow.set(\"num\", Number(last_reportnum.slice(4,8)));\n\n\n//node.error(last_reportnum)\n//node.warn(Number(last_reportnum.slice(4,8)))\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":500,"wires":[["5c1cad9e.869184"]]},{"id":"5358873f.bef798","type":"switch","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","property":"report_num","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":420,"wires":[["7dd11184.ab8ef"],["8055b2f7.378b1"]]},{"id":"7dd11184.ab8ef","type":"change","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"Display the new Report No.","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_num","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["5c1cad9e.869184"]]},{"id":"a80ad9d7.2cad98","type":"change","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","rules":[{"t":"set","p":"Date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[[]]},{"id":"f46cec11.191f5","type":"change","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","rules":[{"t":"set","p":"Shift","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[[]]},{"id":"2061efa1.346f3","type":"complete","z":"6d027d56.74f544","d":true,"g":"39640cf.96c1ff4","name":"","scope":["479f1a93.cb3d24"],"uncaught":false,"x":150,"y":120,"wires":[["86365787.4bddb8","c30b11fa.fb822"]]},{"id":"ae423b98.a7aef8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2520,"wires":[["bcbc61ee.b1a4a","576b5f2b.004e9","4108b41d.86304c","246b06812c5dadcf","0a212a2237dd651a","39507e57112e7e77","347db06b4c2a5fbd"]]},{"id":"efcb9577.1f8198","type":"comment","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Need to add followup person to FinalDataObject","info":"","x":1500,"y":1080,"wires":[]},{"id":"91722722.138188","type":"ui_dropdown","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"QT Names","label":"","tooltip":"","place":"Quality Technician Name","group":"89ae0c44.60a3","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Gary M.","value":"Gary M.","type":"str"},{"label":"Sooraj K.","value":"Sooraj K.","type":"str"},{"label":"Abdul K.","value":"Abdul K.","type":"str"},{"label":"Prashant P.","value":"Prashant P.","type":"str"},{"label":"Shiv T. [TEST]","value":"Shiv T. [TEST]","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":550,"y":600,"wires":[["37b3eebd.a1beb2"]]},{"id":"855af2f8.b4c","type":"complete","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","scope":["479f1a93.cb3d24"],"uncaught":false,"x":130,"y":640,"wires":[["3fbfbc46.3e4da4"]]},{"id":"3fbfbc46.3e4da4","type":"change","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["91722722.138188"]]},{"id":"e5e651b7.1ae44","type":"link in","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","links":["42c50879.c7cc48"],"x":180,"y":680,"wires":[["3fbfbc46.3e4da4"]]},{"id":"37b3eebd.a1beb2","type":"change","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","rules":[{"t":"set","p":"qt_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":600,"wires":[[]]},{"id":"d3ffd119.c4c6","type":"ui_text_input","z":"6d027d56.74f544","d":true,"g":"cd8425a287bc06fd","name":"","label":"Follow Up Person (comma separated)","tooltip":"If multiple people need to follow up, please separate with a comma and NO SPACES (e.g. Tom,Ken,Paul)","group":"e57e4ab4.9c0fe8","order":10,"width":7,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":950,"y":2000,"wires":[["8168de69.77069"]]},{"id":"8168de69.77069","type":"change","z":"6d027d56.74f544","d":true,"g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":2000,"wires":[["74916779.133e28"]]},{"id":"32eb6966.239aa6","type":"switch","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","property":"qt_name","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":940,"wires":[["31ef3173.90efce"],["3c7e9f07.a1574"]]},{"id":"88818920.7d3258","type":"ui_toast","z":"6d027d56.74f544","g":"531b0778.d69e38","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing QT Name","x":1710,"y":900,"wires":[[]]},{"id":"31ef3173.90efce","type":"function","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Missing QT","func":"msg.payload = \"Please enter Quality Technician Name\";\nmsg.topic = \"Missing Data\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":920,"wires":[["88818920.7d3258"]]},{"id":"64d8e8fa.d7f688","type":"ui_toast","z":"6d027d56.74f544","g":"cd8425a287bc06fd","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Missing Data","name":"Missing QT Name","x":1710,"y":2220,"wires":[[]]},{"id":"f2fd6a45.8a16a8","type":"function","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","func":"msg.payload = \"Please enter Quality Technician Name\";\nmsg.topic = \"Missing Data\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2320,"wires":[["64d8e8fa.d7f688"]]},{"id":"a12d2e.092842d","type":"switch","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","property":"qt_name","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1470,"y":2360,"wires":[["f2fd6a45.8a16a8"],["24144182.29e22e"]]},{"id":"a0e0f93.661f308","type":"link in","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","links":["12c7fa00.8ddf86"],"x":2460,"y":2020,"wires":[["f0d9850c.bea4b8"]]},{"id":"f0d9850c.bea4b8","type":"function","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","func":"var msg2 = {};\nvar data = msg.FinalDataObj;\nvar section = data.section; \nvar followup = data.fol_per; \n\ndata.fol_per = followup.toString(); \n\nvar data_str = JSON.stringify(data);\n\n/*if(data_str.includes(data_str.includes(\"\\\"activeRid\\\":\\\"Yes\\\"\") == false){\n    if(data_str.includes(\"\\\"fol_per\\\":\\\"\\\"\") == false){ \n       msg.payload = data_str;\n    }\n}*/\n\n\nif(section === \"Specific Requests\" || section === \"Critical Calls\"){\n    var y_n = data.y_n;\n    if(y_n === \"Yes\"){\n        msg.payload = data_str;\n    }\n}else if(section === \"Bypass List\"){\n    var active = data.activeRid;\n    if(active === \"No\"){\n        msg.payload = data_str;\n    }\n}else{\n    msg2.payload = \"\";\n    return [,msg2];\n}\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":2020,"wires":[["49abf0b430fb7635"],["a36cf89d.63b7c8"]]},{"id":"82697a14.d79cf8","type":"inject","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":350,"y":560,"wires":[["91722722.138188"]]},{"id":"b2e5282e.399ba8","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"FDO","pt":"flow","to":"FinalDataObject","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":960,"wires":[["12c7fa00.8ddf86"]]},{"id":"599fc8d3.c57cb8","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"FDO","pt":"flow","to":"FinalDataObject","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":2320,"wires":[["12c7fa00.8ddf86"]]},{"id":"12c7fa00.8ddf86","type":"link out","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","mode":"link","links":["a0e0f93.661f308"],"x":2340,"y":2020,"wires":[]},{"id":"318e13e4.ccec0c","type":"file","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","filename":"/data/DailyQA_Txt_Out/FollowUp.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2950,"y":1980,"wires":[["a36cf89d.63b7c8"]]},{"id":"a36cf89d.63b7c8","type":"debug","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3090,"y":2040,"wires":[]},{"id":"f304c07b.f47cb","type":"switch","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"followup required","property":"sr_followup_Y_N","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":960,"wires":[["b2e5282e.399ba8"]]},{"id":"a57fee51.1619a","type":"switch","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","property":"bl_run","propertyType":"flow","rules":[{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1830,"y":2320,"wires":[["599fc8d3.c57cb8"]]},{"id":"ad0bbf4e.00ce9","type":"ui_text_input","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","label":"End-of-Shift Comments","tooltip":"","group":"2700eaeb.173f36","order":1,"width":10,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":550,"y":4040,"wires":[["c13dce59.c0e3e"]]},{"id":"2d3a12de.99d5fe","type":"ui_button","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","group":"2700eaeb.173f36","order":2,"width":4,"height":1,"passthru":false,"label":"Add Comment","tooltip":"","color":"","bgcolor":"","icon":"playlist_add","payload":"","payloadType":"str","topic":"","x":1020,"y":4040,"wires":[["cc6a3794.b137c8"]]},{"id":"c13dce59.c0e3e","type":"change","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","rules":[{"t":"set","p":"eosComments","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":4040,"wires":[["2d3a12de.99d5fe"]]},{"id":"cc6a3794.b137c8","type":"switch","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","property":"qt_name","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":4040,"wires":[["87fb60f0.4ba11"],["f74d84ee.75ba68"]]},{"id":"87fb60f0.4ba11","type":"function","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","func":"msg.payload = \"Please enter Quality Technician Name\";\nmsg.topic = \"Missing Data\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":3960,"wires":[["546536a1.836058"]]},{"id":"546536a1.836058","type":"ui_toast","z":"6d027d56.74f544","g":"6a20d1ea.17198","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing QT Name","x":1550,"y":3960,"wires":[[]]},{"id":"f74d84ee.75ba68","type":"function","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"save_values_comment","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"\";\nvar com = flow.get(\"eosComments\")||\"\";\n\nmyObj.reportnum = flow.get(\"report_num\");\nmyObj.workshift = global.get(\"Shift\");\nmyObj.timestamp = Date.now();\n\n// -----------------------\n// Changed the order, inserted QT Name in\n// between Date and machine\nmyObj.qt = qt;\n// -----------------------\n\nmyObj.eoscomment = com; \n\nflow.set(\"EOS_FINALDATAOBJ\", myObj)\n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_other = \"\";\nvalues_other = Object.values(myObj);\n\nvar values_other_noNull = \"\";\nflow.set(\"VALUES_OTHER_NONULL\", 0);\nvalues_other_noNull = values_other.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_OTHER_NONULL\", values_other_noNull);\n\nif(values_other_noNull.length === 5){\n    msg.payload = com;\n    msg.topic = \"End of Shift Comments\";\n    msg.FinalDataObj = myObj;\n}\nelse{\n    msg2.payload = \"Fill out the text field with any comments you have\"\n    msg2.topic = \"Missing Data\";\n    \n    return [,msg2]\n}\n\n\n\nreturn msg\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":4080,"wires":[["da718bcc.fcec68","6e3f65fc.6cb04c","fa56b7e769326b1c","88aeda48.7bc2c8"],["6e3f65fc.6cb04c","52255ed3.27588"]],"info":"Saves text input values to msg.payload"},{"id":"6e3f65fc.6cb04c","type":"debug","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":4120,"wires":[]},{"id":"52255ed3.27588","type":"ui_toast","z":"6d027d56.74f544","g":"6a20d1ea.17198","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing Comment","x":1670,"y":4160,"wires":[[]]},{"id":"da718bcc.fcec68","type":"link out","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","links":["c0270c54.0c0aa"],"x":1660,"y":4020,"wires":[]},{"id":"fd5d70ea.16666","type":"complete","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"loop comment entry","scope":["bb845548.11dd88","da718bcc.fcec68"],"uncaught":false,"x":150,"y":4040,"wires":[["3e50b666.59814a"]]},{"id":"3e50b666.59814a","type":"change","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":4040,"wires":[["ad0bbf4e.00ce9"]]},{"id":"9f5d2a54.bcfcb8","type":"link in","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"","links":["42c50879.c7cc48"],"x":140,"y":4100,"wires":[["3e50b666.59814a"]]},{"id":"dee876ce.dc4998","type":"function","z":"6d027d56.74f544","g":"14ae8334.25742d","name":"part switcher","func":"msg.payload = \"\";   // Clear the msg.payload everytime a new machine is selected from the preceding dropdown menu; \n                    // Otherwise, the machine no. (payload) will pass through to pre-populate the Process flow var prior to receiving a proper selection; confusing the noNULL array later on\n\nvar mach = flow.get(\"bl_machine\");\n\nif(mach === \"6170\"){\n    msg.options = [\"10R140 Nitride Gear - 35.1080.1080\",\"10R60 Pump Drive Gear - 35.3929.3929\",\"10R80 Pump Drive Gear - 35.7080.7090\"];\n}else if(mach === \"6760\"){\n    msg.options = [\"AB1V Hardened Spur Gear - 35.1742.7327\",\"GRx Helical Gear - 35.7371.7371\",\"10R80 Pump Drive Gear - 35.7080.7090\"];    \n}else if(mach === \"6210\"){\n    msg.options = [\"10R80 Rotor - 82.0008.2928\",\"10R60 Rotor - 82.4232.4232\"];\n}else if(mach === \"6670\"){\n    msg.options = [\"X23 Clutch Plate (4/5/REV) - 58.0755.0755\",\"X24 Clutch Plate (4/5/REV) - 58.1668.1668\",\"GFx Plate 1/2/3/4/5/6 Clu Bkg - 58.7680.7680\",\"Plate 6-7-8-9 Clu Bkg - 58.2956.2956\",\"Plate  5-7-REV Clu Bkg - 58.2960.2960\"];\n}else{\n    msg.options = [];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":2020,"wires":[["4cb1c0d5.c8b"]]},{"id":"dc1b552c.44f0f8","type":"template","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"SQL Query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT TOP (1000) [id]\n,[rec_time]\n,[transfer_time]\n,[ole_no]\n,[reportnum]\n,[section]\n,[workshift]\n,[qt]\n,[des]\n,[req]\n,[comm]\n,[action]\n,[y_n]\n,[fol_com]\n,[fol_per]\n,[machine]\n,[process]\n,[run]\n,[partrun]\n,[issues]\n,[details]\n,[eoscomment]\nFROM [PMDA-Litmus].[dbo].[DailyQA]","output":"str","x":2530,"y":1900,"wires":[["f0d97d81.06f99"]]},{"id":"f0d97d81.06f99","type":"MSSQL","z":"6d027d56.74f544","g":"bdfa349d.659338","mssqlCN":"c5739068.38b51","name":"Get the first 1000 records from the DailyQA table","outField":"payload","returnType":"0","throwErrors":"0","query":"","modeOpt":"","modeOptType":"query","queryOpt":"payload","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","params":[],"x":2800,"y":1900,"wires":[["9a47f29f.007d7"]]},{"id":"9a47f29f.007d7","type":"function","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"Check if Error got returned from DB","func":"if(msg.error === undefined)\n{\n    return [msg,null];\n}\nelse\n{  \n    return[null,msg];\n  \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":3140,"y":1900,"wires":[["d31609d1.ff9578"],["adf0c15a.76b43"]]},{"id":"adf0c15a.76b43","type":"debug","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"SQL error msg (if any)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3460,"y":1940,"wires":[]},{"id":"830290d2.16ab6","type":"inject","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2380,"y":1900,"wires":[["dc1b552c.44f0f8"]]},{"id":"e3344122.8f616","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["9ab86450.f1abb8"],"x":480,"y":2060,"wires":[["be2890c2.613aa"]]},{"id":"9ab86450.f1abb8","type":"link out","z":"6d027d56.74f544","g":"14ae8334.25742d","name":"","links":["e3344122.8f616"],"x":400,"y":1960,"wires":[]},{"id":"4108b41d.86304c","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Part Running","label":"","tooltip":"Select Part That is Running","place":"Select Part","group":"e57e4ab4.9c0fe8","order":4,"width":7,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","className":"","x":870,"y":2280,"wires":[["7ff570ae.87bed"]]},{"id":"4cb1c0d5.c8b","type":"link out","z":"6d027d56.74f544","g":"14ae8334.25742d","name":"","links":["2ee42d3b.0a4a52"],"x":400,"y":2020,"wires":[]},{"id":"2ee42d3b.0a4a52","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["4cb1c0d5.c8b"],"x":480,"y":2120,"wires":[["4108b41d.86304c"]]},{"id":"caaa85f7.ee6218","type":"link in","z":"6d027d56.74f544","g":"562efa00.946038","name":"","links":["b726a081.104a"],"x":120,"y":2940,"wires":[["dd6a38be.a58c88"]]},{"id":"dd6a38be.a58c88","type":"function","z":"6d027d56.74f544","g":"562efa00.946038","name":"process switcher","func":"msg.payload = \"\";   // Clear the msg.payload everytime a new machine is selected from the preceding dropdown menu; \n                    // Otherwise, the machine no. (payload) will pass through to pre-populate the Process flow var prior to receiving a proper selection; confusing the noNULL array later on\n\nvar mach = flow.get(\"other_machine\");\n\nif(mach === \"6055\"){\n    msg.options = [\"Vision\",\"RI\"];\n}else if(mach === \"6160\"){\n    msg.options = [\"Bore Gauge\",\"Slot Gauge\",\"Acoustic\",\"Vision\"];    \n}else if(mach === \"6255\"){\n    msg.options = [\"Vision\",\"RI\"];\n}else if(mach === \"6360\"){\n    msg.options = [\"Vision\",\"RI\"];\n}else if(mach === \"6365\"){\n    msg.options = [\"Vision\",\"Slot Gauge\",\"Bore Gauge\"];\n}else if(mach === \"6455\"){\n    msg.options = [\"Vision\"];\n}else if(mach === \"6651\"){\n    msg.options = [\"Vision\",\"Acoustic\"];\n}else if(mach === \"6800\"){\n    msg.options = [\"Slot Gauge\",\"Acoustic\",\"Vision\"];\n}else if(mach === \"6810\"){\n    msg.options = [\"Vision\",\"RI\"];\n}else if(mach === \"6820\"){\n    msg.options = [\"Vision\",\"RI\"];\n}else if(mach === \"6830\"){\n    msg.options = [\"Bore Gauge\",\"Slot Gauge\",\"Vision\"];\n}else{\n    msg.options = [];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":2940,"wires":[["75e38e4a.8b879","8d892b35.05b228"]]},{"id":"8d892b35.05b228","type":"function","z":"6d027d56.74f544","g":"562efa00.946038","name":"part switcher","func":"msg.payload = \"\";   // Clear the msg.payload everytime a new machine is selected from the preceding dropdown menu; \n                    // Otherwise, the machine no. (payload) will pass through to pre-populate the Process flow var prior to receiving a proper selection; confusing the noNULL array later on\n\nvar mach = flow.get(\"other_machine\");\n\nif(mach === \"6055\"){\n    msg.options = [\"LGE Exhaust - 74.5363.5675\",\"LGE Intake - 74.5366.5676\",\"LGE Intake Turbo - 74.5367.5677\",\"L859 Stator - 74.4360.5008\"];\n}else if(mach === \"6160\"){\n    msg.options = [\"DV6.2 Rotors - 70.7031.6912\",\"DV6.2 Slides -70.0536.5852\"];    \n}else if(mach === \"6255\"){\n    msg.options = [\"6L Rotor - 82.4887.4887\",\"GME T4 Stator - 74.5453.6780\"];\n}else if(mach === \"6360\"){\n    msg.options = [\"SGE Slide - 70.2662.2662\"];\n}else if(mach === \"6365\"){\n    msg.options = [\"SGE Rotor - 70.2661.2661\",\"10R80 Rotor - 82.0008.2928\",\"10R60 Rotor - 82.4232.4232\"];\n}else if(mach === \"6455\"){\n    msg.options = [\"LGE Exhaust - 74.5363.5675\",\"LGE Intake - 74.5366.5676\",\"LGE Intake Turbo - 74.5367.5677\",\"L850 Intake Sprocket - 74.4355.5031\",\"L850 Universal Sprocket - 74.4356.5294\",\"L850 Asia Intake - 74.5416.5416\"];\n}else if(mach === \"6651\"){\n    msg.options = [\"GF9 Clutch Hub - 35.7371.7371\"];\n}else if(mach === \"6800\"){\n    msg.options = [\"Pentastar Rotor - 70.1005.1009\",\"Snow Tiger Rotor - 70.9545.9545\"];\n}else if(mach === \"6810\"){\n    msg.options = [\"DV6.2 Rotors - 70.7031.7031\",\"DV6.1 Rotors - 70.5153.5153\",\"DV6 Rotors - 70.1501.4325\",\"Pentastar Slide - 70.1006.1007\",\"Snow Tiger Slide - 70.3161.3161\"];\n}else if(mach === \"6820\"){\n    msg.options = [\"DV6.2 Slides - 70.0536.0536\",\"DV6.1 Slides - 70.5318.8178\",\"DV6 Slides - 70.1502.1502\",\"Evo Slide - 70.0386.0386\"];\n}else if(mach === \"6830\"){\n    msg.options = [\"Evo Rotor - 70.0387.0387\"];\n}else{\n    msg.options = [];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":3000,"wires":[["7b69d506.8aaecc"]]},{"id":"75e38e4a.8b879","type":"link out","z":"6d027d56.74f544","g":"562efa00.946038","name":"","links":["83b3b62d.9833b8","f0e64348.337d8"],"x":400,"y":2940,"wires":[]},{"id":"7b69d506.8aaecc","type":"link out","z":"6d027d56.74f544","g":"562efa00.946038","name":"","links":["53f9fda8.d2ca34"],"x":400,"y":3000,"wires":[]},{"id":"b76fe10b.76b61","type":"ui_text_input","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","label":"Specific Issues During the Shift","tooltip":"","group":"4afc1473.5aa80c","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":790,"y":3320,"wires":[["2383fd0d.bde9d2"]]},{"id":"20400066.1875c","type":"ui_text_input","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","label":"Follow Up Details","tooltip":"","group":"4afc1473.5aa80c","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":830,"y":3440,"wires":[["59d2c233.4e7eec"]]},{"id":"74b52eec.2a25a","type":"ui_button","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","group":"4afc1473.5aa80c","order":14,"width":4,"height":1,"passthru":false,"label":"Add To Report","tooltip":"","color":"","bgcolor":"","icon":"playlist_add","payload":"","payloadType":"str","topic":"","x":1440,"y":3200,"wires":[["c781639f.fce24","ba5cb37ab80c05f3"]]},{"id":"e3764d3a.feb03","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3120,"wires":[["b726a081.104a","c0f6f3c1.81c53"]]},{"id":"720298f8.c75288","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_process","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3160,"wires":[["c0f6f3c1.81c53"]]},{"id":"c6f62eaf.3e716","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_run","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3200,"wires":[["8f734dcb.9da02","c0f6f3c1.81c53"]]},{"id":"630537b0.80b228","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_partrun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3240,"wires":[["c0f6f3c1.81c53"]]},{"id":"2383fd0d.bde9d2","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_issues","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3320,"wires":[["c0f6f3c1.81c53"]]},{"id":"59d2c233.4e7eec","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_followup_details","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3440,"wires":[["c0f6f3c1.81c53"]]},{"id":"f4ada95a.72d2c8","type":"complete","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"loop ndt entry","scope":["bb845548.11dd88","92c368e4.b2b4e8"],"uncaught":false,"x":130,"y":3220,"wires":[["66dc0dbf.5c05c4","61ccba26.628674","0fd77301c8db970d","b7d8ea94c81200bf"]]},{"id":"b1e5d6f4.635e18","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Running ?","label":"","tooltip":"Running as intended? ","place":"Running As Intended?","group":"4afc1473.5aa80c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"},{"label":"NSR","value":"NSR","type":"str"}],"payload":"","topic":"","x":850,"y":3200,"wires":[["c6f62eaf.3e716"]]},{"id":"e74d2c58.67494","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["42c50879.c7cc48"],"x":180,"y":3280,"wires":[["66dc0dbf.5c05c4","b7d8ea94c81200bf"]]},{"id":"fdd0f389.ec2f3","type":"function","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"save_values_ndt","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"\";\nvar machine = flow.get(\"other_machine\")||\"\";\nvar process = flow.get(\"other_process\")||\"\";\nvar run = flow.get(\"other_run\")||\"\";\nvar partrun = flow.get(\"other_partrun\")||\"\";\n// added fields ----------------------------------------\nvar category = flow.get(\"other_category\")||\"\";\n// -----------------------------------------------------\nvar issues = flow.get(\"other_issues\")||\"\";\n// added fields ----------------------------------------\nvar active = flow.get(\"other_rid\")||\"\";\nvar ridnum = flow.get(\"other_ridNum\")||\"\";\n//------------------------------------------------------\nvar details = flow.get(\"other_followup_details\")||\"\";\nvar fol_per = flow.get(\"other_followup_person\")||\"\";\n\nfol_per = fol_per.toString();\n\nmyObj.reportnum = flow.get(\"report_num\");       // [0]\nmyObj.section = \"Bypass List\";                  // [1]\nmyObj.workshift = global.get(\"Shift\");          // [2]\nmyObj.timestamp = Date.now();                   // [3]\nmyObj.qt = qt;                                  // [4]\nmyObj.machine = machine;                        // [5]\nmyObj.process = process;                        // [6]\nmyObj.run = run;                                // [7]\nmyObj.partrun = partrun;                        // [8]\n// added fields -------------------------------------------\nmyObj.category = category;                      // [9]\n// --------------------------------------------------------\nmyObj.issues = issues;                          // [10]\n// added fields -------------------------------------------\nmyObj.activeRid = active;                       // [11]\nmyObj.ridNum = ridnum;                          // [12]\n// --------------------------------------------------------\nmyObj.details = details;                        // [13]\nmyObj.fol_per = fol_per;                        // [14]\n\nflow.set(\"OTHER_FINALDATAOBJ\", myObj)\n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_other = \"\";\nvalues_other = Object.values(myObj);\n\nvar values_other_noNull = \"\";\nflow.set(\"VALUES_OTHER_NONULL\", 0);\nvalues_other_noNull = values_other.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_OTHER_NONULL\", values_other_noNull);\n// (values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"No\" && values_bl_noNull.length >= ***14) || (values_bl_noNull[7] === \"No\" && values_bl_noNull[11] == \"Yes\" && values_bl_noNull.length >= ***15) || (values_bl_noNull[7] === \"NSR\" && values_bl_noNull.length >= 8))\nif((values_other_noNull[7] === \"Yes\" && values_other_noNull.length >= 9) || (values_other_noNull[7] === \"No\" && values_other_noNull[11] == \"No\" && values_other_noNull.length >= 14) || (values_other_noNull[7] === \"No\" && values_other_noNull[11] == \"Yes\" && values_other_noNull.length >= 15) || (values_other_noNull[7] === \"NSR\" && values_other_noNull.length >= 8)){\n    //msg.payload = \"NDT4~@$\"+machine+\"~@$\"+process+\"~@$\"+run+\"~@$\"+partrun+\"~@$\"+issues+\"~@$\"+details;\n    msg.topic = \"Bypass List\";\n    msg.FinalDataObj = myObj;\n}\nelse{\n    msg2.payload = \"Make sure all Bypass List fields are completed before \\\"Add to Report\\\"\"\n    msg2.topic = \"Missing Data\";\n    \n    return [,msg2]\n}\n\n\n\nreturn msg\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":3320,"wires":[["92c368e4.b2b4e8","902424c5.6010d8","50ae925b.4972ac","98baafb5b821f062","88624ce1727698c9","88aeda48.7bc2c8"],["6548c0f0.3848e"]],"info":"Saves text input values to msg.payload"},{"id":"6548c0f0.3848e","type":"ui_toast","z":"6d027d56.74f544","g":"2218c8a1.f63338","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing OTHER Data","x":1840,"y":3500,"wires":[[]]},{"id":"92c368e4.b2b4e8","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["349d750d.f0c88a"],"x":1800,"y":3320,"wires":[]},{"id":"78ba6523.e9cbac","type":"inject","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"enable","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":3180,"wires":[["66dc0dbf.5c05c4","0fd77301c8db970d","b7d8ea94c81200bf"]]},{"id":"66dc0dbf.5c05c4","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":3180,"wires":[["b76fe10b.76b61","20400066.1875c","b1e5d6f4.635e18","ba6919f3.a7d058","c42c9330.c05df","df907b07.1a0618","4d44b28427296633","1fe42a1de50cea22","0fd77301c8db970d","47bc66b17c7508f7"]]},{"id":"8f734dcb.9da02","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["457a3ede.a7e2f"],"x":1420,"y":3420,"wires":[]},{"id":"457a3ede.a7e2f","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["8f734dcb.9da02"],"x":100,"y":3480,"wires":[["d78ef63b.383178"]]},{"id":"d78ef63b.383178","type":"switch","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","property":"other_run","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"NSR","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":3480,"wires":[["33c3d4d2.0eaefc"],["78824cf7.b8d2d4"],["123883cd.c1f96c"]]},{"id":"33c3d4d2.0eaefc","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"yes","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":3460,"wires":[["b76fe10b.76b61","20400066.1875c","2a33ca65.c10006","4d44b28427296633","1fe42a1de50cea22","2c6b6a4505b25c04","47bc66b17c7508f7"]]},{"id":"78824cf7.b8d2d4","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"nsr","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":3500,"wires":[["b76fe10b.76b61","20400066.1875c","c42c9330.c05df","1fe42a1de50cea22","2c6b6a4505b25c04","47bc66b17c7508f7"]]},{"id":"123883cd.c1f96c","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"no","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":3540,"wires":[["b76fe10b.76b61","20400066.1875c","c42c9330.c05df","4d44b28427296633","1fe42a1de50cea22","47bc66b17c7508f7"]]},{"id":"2a33ca65.c10006","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":3300,"wires":[["c42c9330.c05df"]]},{"id":"b04d6241.fbe76","type":"ui_button","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","group":"4afc1473.5aa80c","order":13,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"","payloadType":"str","topic":"topic","x":550,"y":3020,"wires":[["e8da022d.3dc56"]]},{"id":"61ccba26.628674","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":3220,"wires":[["b76fe10b.76b61","20400066.1875c","b1e5d6f4.635e18","4d44b28427296633","1fe42a1de50cea22","0fd77301c8db970d","47bc66b17c7508f7"]]},{"id":"2bc8a3b6.d7eaac","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["e8da022d.3dc56"],"x":260,"y":3140,"wires":[["67b56dbd.cd3994","0fd77301c8db970d","3a2657b9de92d701"]]},{"id":"e8da022d.3dc56","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["2bc8a3b6.d7eaac"],"x":660,"y":3020,"wires":[]},{"id":"67b56dbd.cd3994","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":3140,"wires":[["b76fe10b.76b61","20400066.1875c","b1e5d6f4.635e18","ba6919f3.a7d058","c42c9330.c05df","df907b07.1a0618","4d44b28427296633","1fe42a1de50cea22","47bc66b17c7508f7"]]},{"id":"444eae2e.6ec1b","type":"ui_text_input","z":"6d027d56.74f544","d":true,"g":"2218c8a1.f63338","name":"","label":"Follow Up Person (comma separated)","tooltip":"If multiple people need to follow up, please separate with a comma and NO SPACES (e.g. Tom,Ken,Paul)","group":"4afc1473.5aa80c","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":870,"y":3060,"wires":[["698d0959.ecaa28"]]},{"id":"698d0959.ecaa28","type":"change","z":"6d027d56.74f544","d":true,"g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3060,"wires":[["c0f6f3c1.81c53"]]},{"id":"902424c5.6010d8","type":"debug","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":3360,"wires":[]},{"id":"7a0b8dcb.153ba4","type":"ui_toast","z":"6d027d56.74f544","g":"2218c8a1.f63338","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing QT Name","x":1810,"y":3200,"wires":[[]]},{"id":"7268dbb0.71cd74","type":"function","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","func":"msg.payload = \"Please enter Quality Technician Name\";\nmsg.topic = \"Missing Data\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":3200,"wires":[["7a0b8dcb.153ba4"]]},{"id":"c781639f.fce24","type":"switch","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","property":"qt_name","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":3320,"wires":[["7268dbb0.71cd74"],["fdd0f389.ec2f3"]]},{"id":"15dee551.b2b35b","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"FDO","pt":"flow","to":"FinalDataObject","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":3280,"wires":[["12c7fa00.8ddf86"]]},{"id":"50ae925b.4972ac","type":"switch","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","property":"other_run","propertyType":"flow","rules":[{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1850,"y":3280,"wires":[["15dee551.b2b35b"]]},{"id":"ba6919f3.a7d058","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Machine","label":"","tooltip":"Only Enter Machines that are Running (optional)","place":"Select Machine","group":"4afc1473.5aa80c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"6055","value":"6055","type":"str"},{"label":"6160","value":"6160","type":"str"},{"label":"6255","value":"6255","type":"str"},{"label":"6360","value":"6360","type":"str"},{"label":"6365","value":"6365","type":"str"},{"label":"6455","value":"6455","type":"str"},{"label":"6651","value":"6651","type":"str"},{"label":"6800","value":"6800","type":"str"},{"label":"6810","value":"6810","type":"str"},{"label":"6820","value":"6820","type":"str"},{"label":"6830","value":"6830","type":"str"}],"payload":"","topic":"","x":860,"y":3120,"wires":[["e3764d3a.feb03"]]},{"id":"83b3b62d.9833b8","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["75e38e4a.8b879"],"x":540,"y":3080,"wires":[["df907b07.1a0618"]]},{"id":"53f9fda8.d2ca34","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["7b69d506.8aaecc"],"x":480,"y":3060,"wires":[["c42c9330.c05df"]]},{"id":"c42c9330.c05df","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Part Running","label":"","tooltip":"","place":"Select Part","group":"4afc1473.5aa80c","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":850,"y":3240,"wires":[["630537b0.80b228"]]},{"id":"b726a081.104a","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["caaa85f7.ee6218"],"x":1380,"y":3060,"wires":[]},{"id":"df907b07.1a0618","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Process","label":"","tooltip":"","place":"Select Progess/Gauge","group":"4afc1473.5aa80c","order":2,"width":0,"height":0,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"","x":860,"y":3160,"wires":[["720298f8.c75288"]]},{"id":"74916779.133e28","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":2160,"wires":[["ea2d502e.4079"]]},{"id":"c0f6f3c1.81c53","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":3120,"wires":[["74b52eec.2a25a"]]},{"id":"65dde53.af1071c","type":"inject","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"7:00 - morning shift start verification","props":[{"p":"payload"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2490,"y":1220,"wires":[["671ad3b1.3ade6c","78c0bcd6b4ec917e","a659ce3332de5691"]]},{"id":"93f85106.663cc","type":"function","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"compare reportnum","func":"var out = msg.output; \n\nvar last_reportnum = out[0].reportnum;\n\nflow.set(\"last_num\",last_reportnum);\n\nmsg.payload = last_reportnum;\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3050,"y":1260,"wires":[["e95bc6c3.e75d68","84c611b5.6b80c"]]},{"id":"d4a5ff84.175da","type":"inject","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"15:00 - afternoon shift start verification","props":[{"p":"payload"}],"repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2480,"y":1260,"wires":[["671ad3b1.3ade6c","78c0bcd6b4ec917e","a659ce3332de5691"]]},{"id":"f960a2e3.136d","type":"inject","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"23:00 - night shift start verification","props":[{"p":"payload"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2500,"y":1300,"wires":[["671ad3b1.3ade6c","78c0bcd6b4ec917e","a659ce3332de5691"]]},{"id":"84c611b5.6b80c","type":"debug","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3250,"y":1220,"wires":[]},{"id":"671ad3b1.3ade6c","type":"template","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select distinct top (1) qt, workshift, rec_time, id, reportnum\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\n  order by id desc","output":"str","x":2740,"y":1300,"wires":[["faf719886f180afe"]]},{"id":"e95bc6c3.e75d68","type":"switch","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"report_num","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3230,"y":1300,"wires":[["8c0e65fa.02b688"]]},{"id":"8c0e65fa.02b688","type":"link out","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"","links":["fcaf4f70.8e2b8"],"x":3320,"y":1300,"wires":[]},{"id":"78c0bcd6b4ec917e","type":"link out","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"","mode":"link","links":["2f6f98398d01ebb9","dbac3662.6725a8","9b4faa0c8db46e5b"],"x":2700,"y":1220,"wires":[]},{"id":"7a42549ddb5fff42","type":"Datahub Subscribe","z":"6d027d56.74f544","name":"","natc":"7983aa49.d228e4","topicname":"Send_To_MSSQL.>","x":4010,"y":1580,"wires":[["26d59db97eb7c3c8"]]},{"id":"26d59db97eb7c3c8","type":"debug","z":"6d027d56.74f544","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4230,"y":1580,"wires":[]},{"id":"faf719886f180afe","type":"MSSQL","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","mssqlCN":"c5739068.38b51","name":"Get","outField":"output","returnType":0,"throwErrors":"0","query":"Select distinct top (1) reportnum, id\r\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\r\n  order by id desc","modeOpt":"","modeOptType":"query","queryOpt":"query","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","params":[],"x":2880,"y":1300,"wires":[["93f85106.663cc"]]},{"id":"2c6b6a4505b25c04","type":"ui_text_input","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Enter RID #","label":"Enter RID #","tooltip":"","group":"4afc1473.5aa80c","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":850,"y":3400,"wires":[["265758f12949f895"]]},{"id":"4d44b28427296633","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Active RID?","label":"","tooltip":"","place":"Is There An Active RID?","group":"4afc1473.5aa80c","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":850,"y":3360,"wires":[["69f6092b35de25e5"]]},{"id":"69f6092b35de25e5","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_rid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":3360,"wires":[["c0f6f3c1.81c53","b9b7cb231d9cb67a"]]},{"id":"265758f12949f895","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_ridNum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3400,"wires":[["c0f6f3c1.81c53"]]},{"id":"b9b7cb231d9cb67a","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","mode":"link","links":["5db1fad8df300a64"],"x":1520,"y":3420,"wires":[]},{"id":"5db1fad8df300a64","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["b9b7cb231d9cb67a"],"x":140,"y":3660,"wires":[["e5691aba5e48f0ad"]]},{"id":"e5691aba5e48f0ad","type":"switch","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","property":"other_rid","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":3660,"wires":[["bdea24a4188a1c7d","d1b1d826f7b146af"],["dcdbf1f6c14c8366","a7f5941e7c1dc39e"]]},{"id":"bdea24a4188a1c7d","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"autofill followup details","rules":[{"t":"set","p":"payload","pt":"msg","to":"Refer To App","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":3600,"wires":[["20400066.1875c","47bc66b17c7508f7"]]},{"id":"d1b1d826f7b146af","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"yes / enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":3640,"wires":[["2c6b6a4505b25c04"]]},{"id":"dcdbf1f6c14c8366","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3680,"wires":[["20400066.1875c","47bc66b17c7508f7"]]},{"id":"a7f5941e7c1dc39e","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"no / clear num / disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":3720,"wires":[["2c6b6a4505b25c04"]]},{"id":"246b06812c5dadcf","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Active RID?","label":"","tooltip":"","place":"Is There An Active RID?","group":"e57e4ab4.9c0fe8","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":870,"y":2400,"wires":[["90cfc332f45af5c2"]]},{"id":"90cfc332f45af5c2","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_rid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":2400,"wires":[["df17313df5ab26ac","74916779.133e28"]]},{"id":"b9f1777ce0e047c1","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_ridNum","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2440,"wires":[["74916779.133e28"]]},{"id":"affb4434df73c293","type":"ui_text_input","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Enter RID #","label":"Enter RID #","tooltip":"","group":"e57e4ab4.9c0fe8","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":870,"y":2440,"wires":[["b9f1777ce0e047c1"]]},{"id":"42388a47a9263ebf","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"autofill followup details","rules":[{"t":"set","p":"payload","pt":"msg","to":"Refer To App","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2600,"wires":[["576b5f2b.004e9","347db06b4c2a5fbd"]]},{"id":"a73b35eedc401f39","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"yes / enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":2640,"wires":[["affb4434df73c293"]]},{"id":"0ebdf3fa44d571ed","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2680,"wires":[["576b5f2b.004e9","39507e57112e7e77","347db06b4c2a5fbd"]]},{"id":"8f6221dfca6de0aa","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"no / clear num / disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2720,"wires":[["affb4434df73c293"]]},{"id":"9f654ce76e09efec","type":"switch","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","property":"bl_rid","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":2660,"wires":[["42388a47a9263ebf","a73b35eedc401f39"],["0ebdf3fa44d571ed","8f6221dfca6de0aa"]]},{"id":"d5b0f1fbc4f6982f","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["df17313df5ab26ac"],"x":100,"y":2660,"wires":[["9f654ce76e09efec"]]},{"id":"df17313df5ab26ac","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","mode":"link","links":["d5b0f1fbc4f6982f"],"x":1460,"y":2460,"wires":[]},{"id":"b84b6f9547b17f53","type":"ui_dropdown","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Category","label":"","tooltip":"","place":"Select A Category","group":"1ad4b2bf.64623d","order":3,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Nonconforming Material","type":"str"},{"label":"","value":"Internal Deviation","type":"str"},{"label":"","value":"Communication Record","type":"str"},{"label":"","value":"Layered Process Audit","type":"str"},{"label":"","value":"Operations Meeting","type":"str"},{"label":"","value":"Gauging","type":"str"},{"label":"","value":"Labour Reduction","type":"str"},{"label":"","value":"First Off","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":740,"y":920,"wires":[["3854fd9dc2d95959"]]},{"id":"3854fd9dc2d95959","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_category","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":920,"wires":[["54a6fd60e30bcdf3"]]},{"id":"9a07e61540f590e1","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1120,"wires":[["8198903771005727","54a6fd60e30bcdf3"]]},{"id":"4e039661e31cbb42","type":"ui_text_input","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Other Person","label":"Other Person (comma separated, no spaces)","tooltip":"","group":"1ad4b2bf.64623d","order":9,"width":7,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":730,"y":1160,"wires":[["86a5fbe4027580fe"]]},{"id":"86a5fbe4027580fe","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","rules":[{"t":"set","p":"sr_otherperson","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1160,"wires":[["54a6fd60e30bcdf3"]]},{"id":"5d4648bfd7a19202","type":"function","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"append other person","func":"var people_arr = flow.get(\"sr_followup_person\")||\"\";\nvar other = flow.get(\"sr_otherperson\")||\"\"; \n\nother = other.split(\",\");\n\nif(people_arr.includes(\"Other\")){\n    people_arr.pop();\n    \n    for(let i = 0; i < other.length; i++){\n        people_arr.push(other[i]);\n    }\n    flow.set(\"sr_followup_person\",people_arr);\n\n    msg.payload = people_arr;\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":820,"wires":[[]]},{"id":"8198903771005727","type":"link out","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","mode":"link","links":["f37a4fb3bae9f0bd"],"x":1280,"y":1120,"wires":[]},{"id":"f37a4fb3bae9f0bd","type":"link in","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["8198903771005727"],"x":80,"y":1140,"wires":[["20650b3760364aec"]]},{"id":"20650b3760364aec","type":"switch","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"other followup person","property":"sr_followup_person","propertyType":"flow","rules":[{"t":"cont","v":"Other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":1200,"wires":[["d93087aed455e88e"],["997391ef4230e58b"]]},{"id":"d93087aed455e88e","type":"change","z":"6d027d56.74f544","name":"enabled/clear","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1180,"wires":[["4e039661e31cbb42"]]},{"id":"997391ef4230e58b","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"disabled/clear","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1240,"wires":[["4e039661e31cbb42"]]},{"id":"aaf1322e.6ffd","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","label":"Item Description","tooltip":"Item/Part Description","group":"36d559a9.e3a3e6","order":1,"width":7,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":1420,"wires":[["8f898599.bccad8"]]},{"id":"65637be1.e12554","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","label":"Comments","tooltip":"","group":"36d559a9.e3a3e6","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":730,"y":1540,"wires":[["cf3a4cf3.99efb"]]},{"id":"264cf5d4.976a9a","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","label":"Action Taken On Shift","tooltip":"","group":"36d559a9.e3a3e6","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":700,"y":1580,"wires":[["e5e2b027.d91f"]]},{"id":"8f898599.bccad8","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_des","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1420,"wires":[["19934c39f3dbb3d1"]]},{"id":"39070722.4b4048","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_req","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1460,"wires":[["19934c39f3dbb3d1"]]},{"id":"cf3a4cf3.99efb","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_comments","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1540,"wires":[["19934c39f3dbb3d1"]]},{"id":"e5e2b027.d91f","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_action","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1580,"wires":[["19934c39f3dbb3d1"]]},{"id":"3e428a29.f684c6","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_followup_Y_N","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1620,"wires":[["a50db25b.b3f12","19934c39f3dbb3d1"]]},{"id":"fcfd1a9.cf3d1e8","type":"ui_button","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","group":"36d559a9.e3a3e6","order":12,"width":4,"height":1,"passthru":false,"label":"Add To Report","tooltip":"","color":"","bgcolor":"","className":"","icon":"playlist_add","payload":"","payloadType":"str","topic":"","topicType":"str","x":1340,"y":1500,"wires":[["b49b608c.b72ab","1f786e47508aed10"]]},{"id":"2e06be6f.e2a172","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1480,"wires":[["aaf1322e.6ffd","65637be1.e12554","264cf5d4.976a9a","1281209b.35d75f","c3d070e3.83b82","10e4c184.5b0dde","3dd8047d335dc573","641d7abb586a442e","37f6a386909ff185","5c30264e951ef9bf"]]},{"id":"c3d070e3.83b82","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","label":"Requested By","tooltip":"First Name, Last Initial","group":"36d559a9.e3a3e6","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":1460,"wires":[["39070722.4b4048"]]},{"id":"1281209b.35d75f","type":"ui_dropdown","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Follow Up","label":"","tooltip":"If issue is resolved within shift indicate NO for no follow up action. If further activity is required indicate YES with comments regarding what is unresolved.","place":"Is Follow Up Required (Yes/No)","group":"36d559a9.e3a3e6","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"Yes","type":"str"},{"label":"NO","value":"No","type":"str"}],"payload":"","topic":"","x":740,"y":1620,"wires":[["3e428a29.f684c6"]]},{"id":"10e4c184.5b0dde","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","label":"Follow Up Action Comments","tooltip":"","group":"36d559a9.e3a3e6","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":680,"y":1660,"wires":[["70930a34.b49d24"]]},{"id":"70930a34.b49d24","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_followup_comments","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1660,"wires":[["19934c39f3dbb3d1"]]},{"id":"7a7fb0a3.6b883","type":"complete","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"loop cr entry","scope":["bb845548.11dd88","1498cc69.5a1cb4"],"uncaught":false,"x":170,"y":1480,"wires":[["2e06be6f.e2a172","6eaae7b5.76b028","37f6a386909ff185"]]},{"id":"fdcc2e97.84b03","type":"link in","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["42c50879.c7cc48"],"x":200,"y":1520,"wires":[["2e06be6f.e2a172","6eaae7b5.76b028","37f6a386909ff185"]]},{"id":"bf963f8.e494bc","type":"debug","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":1560,"wires":[]},{"id":"e0ccbb3.e72ae48","type":"function","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"save_values_crit","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"\";\nvar des = flow.get(\"cc_des\")||\"\";\nvar req = flow.get(\"cc_req\")||\"\";\n// added 1 field ---------------------------\nvar category = flow.get(\"cc_category\")||\"\";\n// -----------------------------------------\nvar comm = flow.get(\"cc_comments\")||\"\";\nvar action = flow.get(\"cc_action\")||\"\";\nvar y_n = flow.get(\"cc_followup_Y_N\")||\"\";\nvar fol_com = flow.get(\"cc_followup_comments\")||\"\";\nvar fol_per = flow.get(\"cc_followup_person\")||\"\";\n\nfol_per = fol_per.toString();\n\nmyObj.reportnum = flow.get(\"report_num\");\nmyObj.section = \"Critical Calls\";\nmyObj.workshift = global.get(\"Shift\");\nmyObj.timestamp = Date.now();\nmyObj.qt = qt;\nmyObj.des = des;\nmyObj.req = req;\n// added 1 field -----------\nmyObj.category = category;\n// -------------------------\nmyObj.comm = comm;\nmyObj.action = action;\nmyObj.y_n = y_n;\nmyObj.fol_com = fol_com;\nmyObj.fol_per = fol_per;\n\nflow.set(\"CC_FINALDATAOBJ\", myObj)\n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_cc = \"\";\nvalues_cc = Object.values(myObj);\n\nvar values_cc_noNull = \"\";\n\nflow.set(\"VALUES_CC_NONULL\", 0);\nvalues_cc_noNull = values_cc.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_CC_NONULL\",values_cc_noNull);\n\nif((values_cc_noNull[10] === \"Yes\" && values_cc_noNull.length === 13) || (values_cc_noNull[10] === \"No\" && values_cc_noNull.length >= 9)){\n    // may or may not have a comment if NO\n    // must have a comment if YES\n    \n    //msg.payload = \"Critical Calls~@$\"+des+\"~@$\"+req+\"~@$\"+comm+\"~@$\"+action+\"~@$\"+y_n+\"~@$\"+fol_com+\"~@$\"+fol_per;\n    msg.topic = \"Critical Calls\";\n    msg.FinalDataObj = myObj;\n\n    return [msg,];\n}\nelse{\n    msg2.payload = \"Make sure all Critical Calls fields are completed before \\\"Add to Report\\\"\";\n    msg2.topic = \"Missing Data\";\n    \n    return [,msg2];\n}\n\n\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1580,"wires":[["bf963f8.e494bc","1498cc69.5a1cb4","a974a5db.109c38","92c6c2de12052ae6","88aeda48.7bc2c8"],["4e1d102d.ad763"]],"info":"Saves text input values to msg.payload"},{"id":"1498cc69.5a1cb4","type":"link out","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["9cd43af9.6e8f08"],"x":1680,"y":1520,"wires":[]},{"id":"4e1d102d.ad763","type":"ui_toast","z":"6d027d56.74f544","g":"6a4b8839.033658","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing CC Data","x":1750,"y":1600,"wires":[[]]},{"id":"a50db25b.b3f12","type":"link out","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["ed0a419f.5009f"],"x":1260,"y":1660,"wires":[]},{"id":"ed0a419f.5009f","type":"link in","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["a50db25b.b3f12"],"x":80,"y":1580,"wires":[["8d11158a.a073c8"]]},{"id":"8d11158a.a073c8","type":"switch","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","property":"cc_followup_Y_N","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1580,"wires":[["dde74dc9.60307"],["7c4f231f.5b6cac"]]},{"id":"6eaae7b5.76b028","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1440,"wires":[["aaf1322e.6ffd","65637be1.e12554","264cf5d4.976a9a","c3d070e3.83b82","1281209b.35d75f","10e4c184.5b0dde","3dd8047d335dc573","641d7abb586a442e","37f6a386909ff185","5c30264e951ef9bf"]]},{"id":"d32145d2.aaaa78","type":"inject","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"enable","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":1440,"wires":[["6eaae7b5.76b028","37f6a386909ff185"]]},{"id":"dde74dc9.60307","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"yes","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1560,"wires":[["10e4c184.5b0dde","5c30264e951ef9bf"]]},{"id":"7c4f231f.5b6cac","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"no","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1600,"wires":[["10e4c184.5b0dde","5c30264e951ef9bf"]]},{"id":"5ff319f9.4599a8","type":"ui_toast","z":"6d027d56.74f544","g":"6a4b8839.033658","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Missing Data","name":"Missing QT Name","x":1710,"y":1460,"wires":[[]]},{"id":"ad5de302.4712d","type":"function","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","func":"msg.payload = \"Please enter Quality Technician Name\";\nmsg.topic = \"Missing Data\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1460,"wires":[["5ff319f9.4599a8"]]},{"id":"b49b608c.b72ab","type":"switch","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","property":"qt_name","propertyType":"flow","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":1580,"wires":[["ad5de302.4712d"],["e0ccbb3.e72ae48"]]},{"id":"e4253a69.aa1ee8","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"FDO","pt":"flow","to":"FinalDataObject","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":1520,"wires":[["12c7fa00.8ddf86"]]},{"id":"a974a5db.109c38","type":"switch","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","property":"cc_followup_Y_N","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1770,"y":1520,"wires":[["e4253a69.aa1ee8"]]},{"id":"19934c39f3dbb3d1","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1420,"wires":[["fcfd1a9.cf3d1e8"]]},{"id":"3dd8047d335dc573","type":"ui_dropdown","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Category","label":"","tooltip":"","place":"Select A Category","group":"36d559a9.e3a3e6","order":3,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Nonconforming Material","type":"str"},{"label":"","value":"Internal Deviation","type":"str"},{"label":"","value":"Communication Record","type":"str"},{"label":"","value":"Layered Process Audit","type":"str"},{"label":"","value":"Operations Meeting","type":"str"},{"label":"","value":"Gauging","type":"str"},{"label":"","value":"Labour Reduction","type":"str"},{"label":"","value":"First Off","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":740,"y":1500,"wires":[["f3031d1dddc128f1"]]},{"id":"f3031d1dddc128f1","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_category","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1500,"wires":[["19934c39f3dbb3d1","ec5e61dc5a7923c8"]]},{"id":"641d7abb586a442e","type":"ui_text_input","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Other Person","label":"Other Person (comma separated, no spaces)","tooltip":"","group":"36d559a9.e3a3e6","order":10,"width":7,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":730,"y":1740,"wires":[["5cc9b96fbc11ecc9"]]},{"id":"7b3a08f450109585","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1700,"wires":[["9903cee8ac0b1c67"]]},{"id":"9903cee8ac0b1c67","type":"link out","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","mode":"link","links":["e755db4367254f03","2eb96df796ddb274"],"x":1280,"y":1740,"wires":[]},{"id":"5cc9b96fbc11ecc9","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"cc_otherperson","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1740,"wires":[["19934c39f3dbb3d1"]]},{"id":"1f786e47508aed10","type":"function","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","func":"var people_arr = flow.get(\"cc_followup_person\")||\"\";\nvar other = flow.get(\"cc_otherperson\")||\"\"; \n\nother = other.split(\",\");\n\nif(people_arr.includes(\"Other\")){\n    people_arr.pop();\n    \n    for(let i = 0; i < other.length; i++){\n        people_arr.push(other[i]);\n    }\n    \n    flow.set(\"cc_followup_person\",people_arr);\n\n    msg.payload = people_arr;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1420,"wires":[[]]},{"id":"37f6a386909ff185","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"disabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1720,"wires":[["641d7abb586a442e"]]},{"id":"6d2e1589133e40bf","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1680,"wires":[["641d7abb586a442e"]]},{"id":"8eaccc146f391d61","type":"switch","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","property":"cc_followup_person","propertyType":"flow","rules":[{"t":"cont","v":"Other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1680,"wires":[["6d2e1589133e40bf"],["37f6a386909ff185"]]},{"id":"2eb96df796ddb274","type":"link in","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["9903cee8ac0b1c67"],"x":140,"y":1680,"wires":[["8eaccc146f391d61"]]},{"id":"39507e57112e7e77","type":"ui_text_input","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Other Person","label":"Other Person (comma separated, no spaces)","tooltip":"","group":"e57e4ab4.9c0fe8","order":12,"width":7,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":870,"y":2560,"wires":[["7ded103172623873"]]},{"id":"72fd6299bd69ead3","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"disabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2820,"wires":[["39507e57112e7e77"]]},{"id":"fc325e84f208e879","type":"switch","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","property":"bl_followup_person","propertyType":"flow","rules":[{"t":"cont","v":"Other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":2780,"wires":[["25b2fdc244efbc39"],["72fd6299bd69ead3"]]},{"id":"25b2fdc244efbc39","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2780,"wires":[["39507e57112e7e77"]]},{"id":"99163b83876030dd","type":"function","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","func":"var people_arr = flow.get(\"bl_followup_person\")||\"\";\nvar other = flow.get(\"bl_otherperson\")||\"\"; \n\nother = other.split(\",\");\n\nif(people_arr.includes(\"Other\")){\n    people_arr.pop();\n    \n    for(let i = 0; i < other.length; i++){\n        people_arr.push(other[i]);\n    }\n    \n    flow.set(\"bl_followup_person\",people_arr);\n\n    msg.payload = people_arr;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":2180,"wires":[[]]},{"id":"7ded103172623873","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_otherperson","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":2560,"wires":[["74916779.133e28"]]},{"id":"1bf667b666b68bdb","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2520,"wires":[["1c835b71dad51e4a"]]},{"id":"1c835b71dad51e4a","type":"link out","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","mode":"link","links":["200fc1929714271e","3fd55fe488e9dd78"],"x":1400,"y":2560,"wires":[]},{"id":"200fc1929714271e","type":"link in","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","links":["1c835b71dad51e4a"],"x":160,"y":2780,"wires":[["fc325e84f208e879"]]},{"id":"0a212a2237dd651a","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Category","label":"","tooltip":"","place":"Select A Category","group":"e57e4ab4.9c0fe8","order":5,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Nonconforming Material","type":"str"},{"label":"","value":"Internal Deviation","type":"str"},{"label":"","value":"Communication Record","type":"str"},{"label":"","value":"Layered Process Audit","type":"str"},{"label":"","value":"Operations Meeting","type":"str"},{"label":"","value":"Gauging","type":"str"},{"label":"","value":"Labour Reduction","type":"str"},{"label":"","value":"First Off","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":880,"y":2320,"wires":[["2726cc9247499dfb"]]},{"id":"2726cc9247499dfb","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"bl_category","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":2320,"wires":[["74916779.133e28"]]},{"id":"1fe42a1de50cea22","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Category","label":"","tooltip":"","place":"Select A Category","group":"4afc1473.5aa80c","order":5,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Nonconforming Material","type":"str"},{"label":"","value":"Internal Deviation","type":"str"},{"label":"","value":"Communication Record","type":"str"},{"label":"","value":"Layered Process Audit","type":"str"},{"label":"","value":"Operations Meeting","type":"str"},{"label":"","value":"Gauging","type":"str"},{"label":"","value":"Labour Reduction","type":"str"},{"label":"","value":"First Off","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":860,"y":3280,"wires":[["4553da9a79285a9a"]]},{"id":"4553da9a79285a9a","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_category","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":3280,"wires":[["c0f6f3c1.81c53"]]},{"id":"e278083f9ca8130c","type":"ui_text_input","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Other Person","label":"Other Person (comma separated, no spaces)","tooltip":"","group":"4afc1473.5aa80c","order":12,"width":7,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":850,"y":3520,"wires":[["cdd454b71b93dec0"]]},{"id":"ba5cb37ab80c05f3","type":"function","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","func":"var people_arr = flow.get(\"other_followup_person\")||\"\";\nvar other = flow.get(\"other_otherperson\")||\"\"; \n\nother = other.split(\",\");\n\nif(people_arr.includes(\"Other\")){\n    people_arr.pop();\n    \n    for(let i = 0; i < other.length; i++){\n        people_arr.push(other[i]);\n    }\n    \n    flow.set(\"other_followup_person\",people_arr);\n\n    msg.payload = people_arr;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":3140,"wires":[[]]},{"id":"cdd454b71b93dec0","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_otherperson","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":3520,"wires":[["c0f6f3c1.81c53"]]},{"id":"50e5a21d2a163461","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_followup_person","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3480,"wires":[["883de37f0e26187f"]]},{"id":"883de37f0e26187f","type":"link out","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","mode":"link","links":["1b8ee7eb808f90e8","3fd55fe488e9dd78"],"x":1380,"y":3520,"wires":[]},{"id":"0fd77301c8db970d","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"disabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3840,"wires":[["e278083f9ca8130c"]]},{"id":"2c03a3814706c80f","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3800,"wires":[["e278083f9ca8130c"]]},{"id":"35592aaa1655aebd","type":"switch","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","property":"other_followup_person","propertyType":"flow","rules":[{"t":"cont","v":"Other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":3820,"wires":[["2c03a3814706c80f"],["0fd77301c8db970d"]]},{"id":"1b8ee7eb808f90e8","type":"link in","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","links":["883de37f0e26187f"],"x":300,"y":3820,"wires":[["35592aaa1655aebd"]]},{"id":"14389cb3b9059050","type":"function","z":"6d027d56.74f544","d":true,"g":"531b0778.d69e38","name":"save_values_bypass","func":"var myObj = {};\nvar msg2 = {};\nvar qt = flow.get(\"qt_name\")||\"Shiv\";\nvar machine = flow.get(\"bl_machine\")||\"\";\nvar process = flow.get(\"bl_process\")||\"\";\nvar run = flow.get(\"bl_run\")||\"\";\nvar partrun = flow.get(\"bl_partrun\")||\"\";\n\nvar category = flow.get(\"bl_category\")||\"\";\n\nvar issues = flow.get(\"bl_issues\")||\"\";\n\nvar active = flow.get(\"bl_rid\")||\"\";\nvar ridNum = flow.get(\"bl_ridnum\")||\"\";\n\nvar details = flow.get(\"bl_followup_details\")||\"\";\nvar fol_per = flow.get(\"bl_followup_person\")||\"\";\n\nmyObj.reportnum = \"1\";       // [0]\nmyObj.section = \"Bypass List\";                  // [1]\nmyObj.workshift = global.get(\"Shift\");          // [2]\nmyObj.timestamp = Date.now();                   // [3]\n\n// -----------------------\n// Changed the order, inserted QT Name in\n// between Date and machine\nmyObj.qt = qt;                                  // [4]\n// -----------------------\n\nmyObj.machine = machine;                        // [5]\nmyObj.process = process;                        // [6]\nmyObj.run = run;                                // [7]\nmyObj.partrun = partrun;                        // [8]\n\nmyObj.category = category;                      // [9]\n\nmyObj.issues = issues;                          // [10]\nmyObj.details = details;                        // [11]\n\n// added 2 fields - change order\nmyObj.activeRID = active;                       // [12]\nmyObj.ridnum = ridNum;                          // [13]\n// ---------------------------\n\nmyObj.fol_per = fol_per;                        // [14]\nflow.set(\"BL_FINALDATAOBJ\", myObj);\n\n// ------------------------------------------------------\n// Create a NONULL values array to check for missing data\n// ------------------------------------------------------\nvar values_bl = \"\";\nvalues_bl = Object.values(myObj);\n\nvar values_bl_noNull = \"\";\nflow.set(\"VALUES_BL_NONULL\",0);\nvalues_bl_noNull = values_bl.filter(function (el) {\n  return el != 0;\n}); \n\nflow.set(\"VALUES_BL_NONULL\", values_bl_noNull);\n\nif((values_bl_noNull[7] === \"Yes\" && values_bl_noNull.length >= 9) || (values_bl_noNull[7] === \"No\" && values_bl_noNull[12] == \"No\" && values_bl_noNull.length >= 13) || (values_bl_noNull[7] === \"No\" && values_bl_noNull[12] == \"Yes\" && values_bl_noNull.length >= 14) || (values_bl_noNull[7] === \"NSR\" && values_bl_noNull.length >= 8)){\n    msg.topic = \"Bypass List\";\n    msg.FinalDataObj = myObj;\n}\nelse{\n    msg2.payload = \"Make sure all Bypass List fields are completed before \\\"Add to Report\\\"\"\n    msg2.topic = \"Missing Data\";\n    \n    return [,msg2];\n}\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":840,"wires":[[],[]],"info":"Saves text input values to msg.payload"},{"id":"349d750d.f0c88a","type":"link in","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"","links":["55ff723a.05de1c","92c368e4.b2b4e8"],"x":2620,"y":1640,"wires":[["bff21dc6.3d5b9","bf1a3d35.5cb41"]]},{"id":"e37ee848.ca7ae8","type":"function","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"OnChange trigger - JSON string for MSSQL Integration - DailyQA for SR and CC","func":"//\n//++++++++++++ VARIABLE DEFINITION ++++++++++++\n//--------------Custom VARI DEF----------------\n//\nvar TriggerTag      = \"timestamp\";                  //Define the Tag to be monitored as Trigger\nvar DeviceName      = \"QA_UI\";            // \"deviceID\" in the Integration data stream; equivalent to Level's in the EAV database\n                        //report num ,  section     shift,  qt,             des          requested      category       comm             action          y/n             follow up comm , follow up person                                                         \nvar DataTypes       =  [\"varchar(10)\",\"varchar(50)\",\"int\",\"varchar(100)\",\"varchar(500)\",\"varchar(50)\",\"varchar(100)\",\"varchar(1024)\",\"varchar(1024)\",\"varchar(10)\",\"varchar(1024)\",\"varchar(100)\"];                          \nvar UserTopic       = \"Send_To_MSSQL\";              // Make sure to use the SQL Integration topic for the intended database [Transaction] table\nvar MSSQLTable      = \"DailyQA\";               // \"registerId\" in the Integration data stream\nvar OnChange_Type   = 1;                        // 1 = Simple OnChange condition, \n                                                // 2 = OnChnage by defined increment (i.e. \"Trigger_Incre\"), \n                                                // 3 = OnChanValEq, when value changes, not zero and eq to \"TriggerValueToMonitor\"\n//var TriggerValueToMonitor   =   \"1\";             // Define the value to monitor if TriggerCondition equals #3: OnChanValEq\n//var Trigger_Incre   = 10;                       // 1 = triggers every part, 2 = triggers every two parts, etc. etc. \n//\n//+++++++++++++++ END VARI DEF ++++++++++++++++\n//\n//############### Prog varibles ###############   \n//\nvar FinalDataObj = msg.FinalDataObj;                    // Enable this line if input is already the final data object\nvar timestamp = Date.now();\nvar success = true;\n//\n//############# END Prog varibles #############\n//\n//**************** EXECUTE MAIN ****************\n//\nflow.set(\"TriggerTag\",TriggerTag);                                 \nflow.set(\"TriggerValue\",String(eval(FinalDataObj)[TriggerTag]));       // Enable this line if input is already the final data object\n//flow.set(\"TriggerValue\",String(msg.payload.value));                 // Enable this line if input is the trigger tag only\nvar newvalue = String(flow.get(\"TriggerValue\"));\n\n\n//-------------------------------------------\n// OnChange Type 1 and 2\n//-------------------------------------------\nif(OnChange_Type === 1 || OnChange_Type === 2){\n    // Check Trigger condition\n    if (String(flow.get(\"OldValue1\")).toLowerCase() === String(newvalue).toLowerCase())  // Each part type uses its own unique \"OldValue\" to compare for triggering\n         {\n            // Trigger Tag value has not changed, do nothing\n            return [null];\n         }  \n         \n    flow.set(\"OldValue1\", newvalue);\n    \n    \n    //-------------------------------------------------------\n    // 1 - Simple OnChange condition (Trigger by value change) \n    //-------------------------------------------------------\n    if (OnChange_Type === 1){\n        \n        delete FinalDataObj.timestamp;\n        \n        var keyNames    = Object.keys(FinalDataObj);         //create the key array\n        var keyValues   = Object.values(FinalDataObj);       //create the value array\n        \n//        node.warn (keyNames)\n//        node.warn (keyNames.length)\n//        node.warn (keyValues)\n//        node.warn (keyValues.length)\n        \n        // Create the DATATYPES as a \";\" separated values string\n        for (var k = 0; k < keyNames.length; k++){\n//            if(keyNames[k] === \"addnotes\" || keyNames[k] === \"notes\"){\n                keyValues[k] = keyValues[k].toString().replace(/[=,]/g, '~|').replace(/[=\"]|[=']/g, '@|')       // Replace \",\" with \".\" from the Operator added notes to avoid misinterpreting as comma forseperating the key names\n//            }\n            if(k===0)\n            {\n                DATATYPES = DataTypes[k];          \n            }\n            else\n            {\n               DATATYPES = DATATYPES + \";\" + DataTypes[k];              // Construct \";\" separated data type value string\n            }\n        }\n        \n        //node.warn(keyValues)\n        \n        var newstr = \"{\" \n            + \"\\\"timestamp\\\": \" + timestamp  \n            + \", \\\"deviceID\\\": \\\"\" + DeviceName + \"\\\"\" \n            + \", \\\"registerId\\\": \\\"\" + MSSQLTable + \"\\\"\" \n            + \", \\\"tagName\\\": \\\"\" + keyNames + \"\\\"\" \n            + \", \\\"datatype\\\": \\\"\" + DATATYPES + \"\\\"\" \n            + \", \\\"value\\\": \\\"\" + keyValues + \"\\\"\" \n            + \", \\\"success\\\": \" + success   \n            + \"}\";\n        \n        msg.Log = \"INFO,\"+new Date(Date.now())+\" , finalDataset JSON strings streamed to MSSQL Integration\";\n        \n        return [{subjectInput:UserTopic+\".\"+DeviceName+\".\"+MSSQLTable, payload:newstr}];\n    }\n\n}\n\n//************** END EXECUTE MAIN **************","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":1520,"wires":[["64c72f99.65bcd","962cbdd6ad6a2c85"]]},{"id":"9cd43af9.6e8f08","type":"link in","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"","links":["1498cc69.5a1cb4","2668c483.40f0fc"],"x":2620,"y":1520,"wires":[["e37ee848.ca7ae8","9894718b.0b84d"]]},{"id":"bff21dc6.3d5b9","type":"function","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"OnChange trigger - JSON string for MSSQL Integration - DailyQA for BL and Other","func":"//\n//++++++++++++ VARIABLE DEFINITION ++++++++++++\n//--------------Custom VARI DEF----------------\n//\nvar TriggerTag      = \"timestamp\";                  //Define the Tag to be monitored as Trigger\nvar DeviceName      = \"QA_UI\";            // \"deviceID\" in the Integration data stream; equivalent to Level's in the EAV database\n                    //  report num    section       shift     qt          machine       process       running        partrun        category     specific           active    ridnum          follow up       person               \nvar DataTypes       =  [\"varchar(10)\",\"varchar(50)\",\"int\",\"varchar(100)\",\"varchar(10)\",\"varchar(50)\",\"varchar(10)\",\"varchar(50)\",\"varchar(100)\",\"varchar(1024)\",\"varchar(5)\",\"varchar(10)\",\"varchar(1024)\",\"varchar(100)\"];                          \nvar UserTopic       = \"Send_To_MSSQL\";              // Make sure to use the SQL Integration topic for the intended database [Transaction] table\nvar MSSQLTable      = \"DailyQA\";               // \"registerId\" in the Integration data stream\nvar OnChange_Type   = 1;                        // 1 = Simple OnChange condition, \n                                                // 2 = OnChnage by defined increment (i.e. \"Trigger_Incre\"), \n                                                // 3 = OnChanValEq, when value changes, not zero and eq to \"TriggerValueToMonitor\"\n//var TriggerValueToMonitor   =   \"1\";             // Define the value to monitor if TriggerCondition equals #3: OnChanValEq\n//var Trigger_Incre   = 10;                       // 1 = triggers every part, 2 = triggers every two parts, etc. etc. \n//\n//+++++++++++++++ END VARI DEF ++++++++++++++++\n//\n//############### Prog varibles ###############   \n//\nvar FinalDataObj = msg.FinalDataObj;                    // Enable this line if input is already the final data object\nvar timestamp = Date.now();\nvar success = true;\n//\n//############# END Prog varibles #############\n//\n//**************** EXECUTE MAIN ****************\n//\nflow.set(\"TriggerTag\",TriggerTag);                                 \nflow.set(\"TriggerValue\",String(eval(FinalDataObj)[TriggerTag]));       // Enable this line if input is already the final data object\n//flow.set(\"TriggerValue\",String(msg.payload.value));                 // Enable this line if input is the trigger tag only\nvar newvalue = String(flow.get(\"TriggerValue\"));\n\n\n//-------------------------------------------\n// OnChange Type 1 and 2\n//-------------------------------------------\nif(OnChange_Type === 1 || OnChange_Type === 2){\n    // Check Trigger condition\n    if (String(flow.get(\"OldValue1\")).toLowerCase() === String(newvalue).toLowerCase())  // Each part type uses its own unique \"OldValue\" to compare for triggering\n         {\n            // Trigger Tag value has not changed, do nothing\n            return [null];\n         }  \n         \n    flow.set(\"OldValue1\", newvalue);\n    \n    \n    //-------------------------------------------------------\n    // 1 - Simple OnChange condition (Trigger by value change \n    //-------------------------------------------------------\n    if (OnChange_Type === 1){\n        \n        delete FinalDataObj.timestamp;\n                \n        var keyNames    = Object.keys(FinalDataObj);         //create the key array\n        var keyValues   = Object.values(FinalDataObj);       //create the value array\n        \n//        node.warn (keyNames)\n//        node.warn (keyNames.length)\n//        node.warn (keyValues)\n        \n        // Create the DATATYPES as a \";\" separated values string\n        for (var k = 0; k < keyNames.length; k++){\n//            if(keyNames[k] === \"addnotes\" || keyNames[k] === \"notes\"){\n                keyValues[k] = keyValues[k].toString().replace(/[=,]/g, '~|').replace(/[=\"]|[=']/g, '@|')        // Replace \",\" with \".\" from the Operator added notes to avoid misinterpreting as comma forseperating the key names\n//            }\n            if(k===0)\n            {\n                DATATYPES = DataTypes[k];          \n            }\n            else\n            {\n               DATATYPES = DATATYPES + \";\" + DataTypes[k];              // Construct \";\" separated data type value string\n            }\n        }\n        \n        //node.warn(keyValues)\n        \n        var newstr = \"{\" \n            + \"\\\"timestamp\\\": \" + timestamp  \n            + \", \\\"deviceID\\\": \\\"\" + DeviceName + \"\\\"\" \n            + \", \\\"registerId\\\": \\\"\" + MSSQLTable + \"\\\"\" \n            + \", \\\"tagName\\\": \\\"\" + keyNames + \"\\\"\" \n            + \", \\\"datatype\\\": \\\"\" + DATATYPES + \"\\\"\" \n            + \", \\\"value\\\": \\\"\" + keyValues + \"\\\"\" \n            + \", \\\"success\\\": \" + success   \n            + \"}\";\n        \n        msg.Log = \"INFO,\"+new Date(Date.now())+\" , finalDataset JSON strings streamed to MSSQL Integration\";\n        \n        return [{subjectInput:UserTopic+\".\"+DeviceName+\".\"+MSSQLTable, payload:newstr}];\n    }\n\n}\n\n//************** END EXECUTE MAIN **************","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2970,"y":1640,"wires":[["3ccb9510.df332a","962cbdd6ad6a2c85"]]},{"id":"5b36d5be.99dd8c","type":"file","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"Write FinalDataObj to txt (for test only)","filename":"/data/ShivDataOutput/Daily_Quality_Audits/QA_SR_CC_FinalDataObj.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":3010,"y":1460,"wires":[[]]},{"id":"9894718b.0b84d","type":"change","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"FinalDataObj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2750,"y":1460,"wires":[["5b36d5be.99dd8c"]]},{"id":"bf1a3d35.5cb41","type":"change","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"FinalDataObj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2770,"y":1580,"wires":[["c3255923.ce6af8"]]},{"id":"c3255923.ce6af8","type":"file","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"Write FinalDataObj to txt (for test only)","filename":"/data/ShivDataOutput/Daily_Quality_Audits/QA_BL_FinalDataObj.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":3030,"y":1580,"wires":[[]]},{"id":"7a5b960e.47c5b8","type":"inject","z":"6d027d56.74f544","d":true,"g":"23cb4049.87a51","name":"Manually inject missing string in the DB","props":[{"p":"FinalDataObj","v":"","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":2470,"y":1400,"wires":[[]]},{"id":"64c72f99.65bcd","type":"debug","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3450,"y":1520,"wires":[]},{"id":"f9c5cbe0.2c7828","type":"function","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"OnChange trigger - JSON string for MSSQL Integration - DailyQA for EOS Comments","func":"//\n//++++++++++++ VARIABLE DEFINITION ++++++++++++\n//--------------Custom VARI DEF----------------\n//\nvar TriggerTag      = \"timestamp\";                  //Define the Tag to be monitored as Trigger\nvar DeviceName      = \"QA_UI\";            // \"deviceID\" in the Integration data stream; equivalent to Level's in the EAV database\n                        //report num , shift,  qt,    comment\nvar DataTypes       =  [\"varchar(10)\",\"int\",\"varchar(100)\",\"varchar(1024)\"];                          \nvar UserTopic       = \"Send_To_MSSQL\";              // Make sure to use the SQL Integration topic for the intended database [Transaction] table\nvar MSSQLTable      = \"DailyQA\";               // \"registerId\" in the Integration data stream\nvar OnChange_Type   = 1;                        // 1 = Simple OnChange condition, \n                                                // 2 = OnChnage by defined increment (i.e. \"Trigger_Incre\"), \n                                                // 3 = OnChanValEq, when value changes, not zero and eq to \"TriggerValueToMonitor\"\n//var TriggerValueToMonitor   =   \"1\";             // Define the value to monitor if TriggerCondition equals #3: OnChanValEq\n//var Trigger_Incre   = 10;                       // 1 = triggers every part, 2 = triggers every two parts, etc. etc. \n//\n//+++++++++++++++ END VARI DEF ++++++++++++++++\n//\n//############### Prog varibles ###############   \n//\nvar FinalDataObj = msg.FinalDataObj;                    // Enable this line if input is already the final data object\nvar timestamp = Date.now();\nvar success = true;\n//\n//############# END Prog varibles #############\n//\n//**************** EXECUTE MAIN ****************\n//\nflow.set(\"TriggerTag\",TriggerTag);                                 \nflow.set(\"TriggerValue\",String(eval(FinalDataObj)[TriggerTag]));       // Enable this line if input is already the final data object\n//flow.set(\"TriggerValue\",String(msg.payload.value));                 // Enable this line if input is the trigger tag only\nvar newvalue = String(flow.get(\"TriggerValue\"));\n\n\n//-------------------------------------------\n// OnChange Type 1 and 2\n//-------------------------------------------\nif(OnChange_Type === 1 || OnChange_Type === 2){\n    // Check Trigger condition\n    if (String(flow.get(\"OldValue1\")).toLowerCase() === String(newvalue).toLowerCase())  // Each part type uses its own unique \"OldValue\" to compare for triggering\n         {\n            // Trigger Tag value has not changed, do nothing\n            return [null];\n         }  \n         \n    flow.set(\"OldValue1\", newvalue);\n    \n    \n    //-------------------------------------------------------\n    // 1 - Simple OnChange condition (Trigger by value change \n    //-------------------------------------------------------\n    if (OnChange_Type === 1){\n        \n        delete FinalDataObj.timestamp;\n                \n        var keyNames    = Object.keys(FinalDataObj);         //create the key array\n        var keyValues   = Object.values(FinalDataObj);       //create the value array\n        \n//        node.warn (keyNames)\n//        node.warn (keyNames.length)\n//        node.warn (keyValues)\n        \n        // Create the DATATYPES as a \";\" separated values string\n        for (var k = 0; k < keyNames.length; k++){\n//            if(keyNames[k] === \"addnotes\" || keyNames[k] === \"notes\"){\n                keyValues[k] = keyValues[k].toString().replace(/[=,]/g, '~|').replace(/[=\"]|[=']/g, '@|')        // Replace \",\" with \".\" from the Operator added notes to avoid misinterpreting as comma forseperating the key names\n//            }\n            if(k===0)\n            {\n                DATATYPES = DataTypes[k];          \n            }\n            else\n            {\n               DATATYPES = DATATYPES + \";\" + DataTypes[k];              // Construct \";\" separated data type value string\n            }\n        }\n        \n        //node.warn(keyValues)\n        \n        var newstr = \"{\" \n            + \"\\\"timestamp\\\": \" + timestamp  \n            + \", \\\"deviceID\\\": \\\"\" + DeviceName + \"\\\"\" \n            + \", \\\"registerId\\\": \\\"\" + MSSQLTable + \"\\\"\" \n            + \", \\\"tagName\\\": \\\"\" + keyNames + \"\\\"\" \n            + \", \\\"datatype\\\": \\\"\" + DATATYPES + \"\\\"\" \n            + \", \\\"value\\\": \\\"\" + keyValues + \"\\\"\" \n            + \", \\\"success\\\": \" + success   \n            + \"}\";\n        \n        msg.Log = \"INFO,\"+new Date(Date.now())+\" , finalDataset JSON strings streamed to MSSQL Integration\";\n        \n        return [{subjectInput:UserTopic+\".\"+DeviceName+\".\"+MSSQLTable, payload:newstr}];\n    }\n\n}\n\n//************** END EXECUTE MAIN **************","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":1760,"wires":[["3ccb9510.df332a","962cbdd6ad6a2c85"]]},{"id":"c0270c54.0c0aa","type":"link in","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"","links":["da718bcc.fcec68"],"x":2620,"y":1760,"wires":[["f9c5cbe0.2c7828","a98b06a7.5d9d58"]]},{"id":"e9a327a9.d9bfa8","type":"file","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"Write FinalDataObj to txt (for test only)","filename":"/data/ShivDataOutput/Daily_Quality_Audits/EOS_Comment.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":3030,"y":1700,"wires":[[]]},{"id":"a98b06a7.5d9d58","type":"change","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"FinalDataObj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2770,"y":1700,"wires":[["e9a327a9.d9bfa8"]]},{"id":"3ccb9510.df332a","type":"debug","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3450,"y":1760,"wires":[]},{"id":"962cbdd6ad6a2c85","type":"Datahub Publish","z":"6d027d56.74f544","g":"23cb4049.87a51","name":"To MSSQL Integration via topic \"Send_To_MSSQL.>\"","natc":"7983aa49.d228e4","topicname":"","x":3620,"y":1640,"wires":[]},{"id":"89329cae36bb629d","type":"ui_button","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","group":"1ad4b2bf.64623d","order":10,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"","payloadType":"str","topic":"topic","topicType":"str","x":1510,"y":1140,"wires":[["d0d734be0f165a12"]]},{"id":"d0d734be0f165a12","type":"link out","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","mode":"link","links":["ba062249dd227c8b"],"x":1660,"y":1140,"wires":[]},{"id":"ba062249dd227c8b","type":"link in","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"","links":["d0d734be0f165a12"],"x":300,"y":820,"wires":[["77d41d03cdabbb88","ef542d2f23277f09"]]},{"id":"77d41d03cdabbb88","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset enabled","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["1f23199.d095ce6","77ff328c.7226dc","b84b6f9547b17f53","834b9aa8.718978","2c5d275e.9d3d08","2eaec92a.67e566","6435dc14.e689e4","41685ccf9407894e"]]},{"id":"ef542d2f23277f09","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"reset disabled","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":780,"wires":[["4e039661e31cbb42"]]},{"id":"21b89d454d87701f","type":"ui_button","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","group":"36d559a9.e3a3e6","order":11,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"clear","payload":"","payloadType":"str","topic":"topic","topicType":"str","x":1570,"y":1800,"wires":[["4d93cd6bd4db3d01"]]},{"id":"4d93cd6bd4db3d01","type":"link out","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","mode":"link","links":["6aa376a47cd6f1e1"],"x":1740,"y":1800,"wires":[]},{"id":"6aa376a47cd6f1e1","type":"link in","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["4d93cd6bd4db3d01"],"x":240,"y":1380,"wires":[["fbc6d925fb735e07","048e40b5f685c1f0"]]},{"id":"fbc6d925fb735e07","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1380,"wires":[["aaf1322e.6ffd","c3d070e3.83b82","3dd8047d335dc573","65637be1.e12554","264cf5d4.976a9a","1281209b.35d75f","10e4c184.5b0dde","5c30264e951ef9bf"]]},{"id":"048e40b5f685c1f0","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1340,"wires":[["641d7abb586a442e"]]},{"id":"b36f2f4a01d2dd8f","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2120,"wires":[["39507e57112e7e77","affb4434df73c293"]]},{"id":"3a2657b9de92d701","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":3080,"wires":[["e278083f9ca8130c","2c6b6a4505b25c04"]]},{"id":"cd1ebd577db79715","type":"change","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2280,"wires":[["affb4434df73c293","39507e57112e7e77"]]},{"id":"b7d8ea94c81200bf","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":3260,"wires":[["2c6b6a4505b25c04"]]},{"id":"54a6fd60e30bcdf3","type":"change","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":800,"wires":[["ed8bfc40.474fd"]]},{"id":"49abf0b430fb7635","type":"switch","z":"6d027d56.74f544","g":"bdfa349d.659338","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"{","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2670,"y":1960,"wires":[["318e13e4.ccec0c"],["a36cf89d.63b7c8"]]},{"id":"47bc66b17c7508f7","type":"ui_dropdown","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"Follow-Up Person","label":"","tooltip":"","place":"Follow-up Person","group":"4afc1473.5aa80c","order":11,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Abdul Khan","type":"str"},{"label":"","value":"Ammar Murad","type":"str"},{"label":"","value":"Chandrakant Kirolikar","type":"str"},{"label":"","value":"Christa Johnston","type":"str"},{"label":"","value":"Christopher Leroux","type":"str"},{"label":"","value":"Daniel Qin","type":"str"},{"label":"","value":"Dave Ziemer","type":"str"},{"label":"","value":"David Meng","type":"str"},{"label":"","value":"Denil Chowdhary","type":"str"},{"label":"","value":"Elsie Alonso","type":"str"},{"label":"","value":"Fraser Baguma","type":"str"},{"label":"","value":"Gary Martin","type":"str"},{"label":"","value":"Geoff Boyer","type":"str"},{"label":"","value":"Jeff Lamont","type":"str"},{"label":"","value":"Jesse Singh","type":"str"},{"label":"","value":"Kale Tripney","type":"str"},{"label":"","value":"Kelly Kavanagh","type":"str"},{"label":"","value":"Ken Lavigne","type":"str"},{"label":"","value":"Ken Servos","type":"str"},{"label":"","value":"Maintenance","type":"str"},{"label":"","value":"Majaz Ali","type":"str"},{"label":"","value":"Martin Fisher","type":"str"},{"label":"","value":"Mason Martinez","type":"str"},{"label":"","value":"Metlab","type":"str"},{"label":"","value":"Michael Hancox","type":"str"},{"label":"","value":"Mike Eechaute","type":"str"},{"label":"","value":"Mustafa Nashat","type":"str"},{"label":"","value":"Oleg Kondrachov","type":"str"},{"label":"","value":"Parth Chauhan","type":"str"},{"label":"","value":"Paul McArthur","type":"str"},{"label":"","value":"Production Supervisor","type":"str"},{"label":"","value":"Quality Technician","type":"str"},{"label":"","value":"Robert Leishman","type":"str"},{"label":"","value":"Sagar Shah","type":"str"},{"label":"","value":"Scott McKay","type":"str"},{"label":"","value":"Shiv Thakar","type":"str"},{"label":"","value":"Sooraj Kumar","type":"str"},{"label":"","value":"Spencer Fullerton","type":"str"},{"label":"","value":"Terry Neuffer","type":"str"},{"label":"","value":"Thomas Condello","type":"str"},{"label":"","value":"Tyson Griffin","type":"str"},{"label":"","value":"Virginia Avery","type":"str"},{"label":"","value":"Refer To App","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":830,"y":3480,"wires":[["50e5a21d2a163461"]]},{"id":"347db06b4c2a5fbd","type":"ui_dropdown","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"Follow-Up Person","label":"","tooltip":"","place":"Follow-up Person","group":"e57e4ab4.9c0fe8","order":11,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Abdul Khan","type":"str"},{"label":"","value":"Ammar Murad","type":"str"},{"label":"","value":"Chandrakant Kirolikar","type":"str"},{"label":"","value":"Christa Johnston","type":"str"},{"label":"","value":"Christopher Leroux","type":"str"},{"label":"","value":"Daniel Qin","type":"str"},{"label":"","value":"Dave Ziemer","type":"str"},{"label":"","value":"David Meng","type":"str"},{"label":"","value":"Denil Chowdhary","type":"str"},{"label":"","value":"Elsie Alonso","type":"str"},{"label":"","value":"Fraser Baguma","type":"str"},{"label":"","value":"Gary Martin","type":"str"},{"label":"","value":"Geoff Boyer","type":"str"},{"label":"","value":"Jeff Lamont","type":"str"},{"label":"","value":"Jesse Singh","type":"str"},{"label":"","value":"Kale Tripney","type":"str"},{"label":"","value":"Kelly Kavanagh","type":"str"},{"label":"","value":"Ken Lavigne","type":"str"},{"label":"","value":"Ken Servos","type":"str"},{"label":"","value":"Maintenance","type":"str"},{"label":"","value":"Majaz Ali","type":"str"},{"label":"","value":"Martin Fisher","type":"str"},{"label":"","value":"Mason Martinez","type":"str"},{"label":"","value":"Metlab","type":"str"},{"label":"","value":"Michael Hancox","type":"str"},{"label":"","value":"Mike Eechaute","type":"str"},{"label":"","value":"Mustafa Nashat","type":"str"},{"label":"","value":"Oleg Kondrachov","type":"str"},{"label":"","value":"Parth Chauhan","type":"str"},{"label":"","value":"Paul McArthur","type":"str"},{"label":"","value":"Production Supervisor","type":"str"},{"label":"","value":"Quality Technician","type":"str"},{"label":"","value":"Robert Leishman","type":"str"},{"label":"","value":"Sagar Shah","type":"str"},{"label":"","value":"Scott McKay","type":"str"},{"label":"","value":"Shiv Thakar","type":"str"},{"label":"","value":"Sooraj Kumar","type":"str"},{"label":"","value":"Spencer Fullerton","type":"str"},{"label":"","value":"Terry Neuffer","type":"str"},{"label":"","value":"Thomas Condello","type":"str"},{"label":"","value":"Tyson Griffin","type":"str"},{"label":"","value":"Virginia Avery","type":"str"},{"label":"","value":"Refer To App","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":850,"y":2520,"wires":[["1bf667b666b68bdb"]]},{"id":"5c30264e951ef9bf","type":"ui_dropdown","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"Follow-Up Person","label":"","tooltip":"","place":"Follow-up Person","group":"36d559a9.e3a3e6","order":9,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Abdul Khan","type":"str"},{"label":"","value":"Ammar Murad","type":"str"},{"label":"","value":"Chandrakant Kirolikar","type":"str"},{"label":"","value":"Christa Johnston","type":"str"},{"label":"","value":"Christopher Leroux","type":"str"},{"label":"","value":"Daniel Qin","type":"str"},{"label":"","value":"Dave Ziemer","type":"str"},{"label":"","value":"David Meng","type":"str"},{"label":"","value":"Denil Chowdhary","type":"str"},{"label":"","value":"Elsie Alonso","type":"str"},{"label":"","value":"Fraser Baguma","type":"str"},{"label":"","value":"Gary Martin","type":"str"},{"label":"","value":"Geoff Boyer","type":"str"},{"label":"","value":"Jeff Lamont","type":"str"},{"label":"","value":"Jesse Singh","type":"str"},{"label":"","value":"Kale Tripney","type":"str"},{"label":"","value":"Kelly Kavanagh","type":"str"},{"label":"","value":"Ken Lavigne","type":"str"},{"label":"","value":"Ken Servos","type":"str"},{"label":"","value":"Maintenance","type":"str"},{"label":"","value":"Majaz Ali","type":"str"},{"label":"","value":"Martin Fisher","type":"str"},{"label":"","value":"Mason Martinez","type":"str"},{"label":"","value":"Metlab","type":"str"},{"label":"","value":"Michael Hancox","type":"str"},{"label":"","value":"Mike Eechaute","type":"str"},{"label":"","value":"Mustafa Nashat","type":"str"},{"label":"","value":"Oleg Kondrachov","type":"str"},{"label":"","value":"Parth Chauhan","type":"str"},{"label":"","value":"Paul McArthur","type":"str"},{"label":"","value":"Production Supervisor","type":"str"},{"label":"","value":"Quality Technician","type":"str"},{"label":"","value":"Robert Leishman","type":"str"},{"label":"","value":"Sagar Shah","type":"str"},{"label":"","value":"Scott McKay","type":"str"},{"label":"","value":"Shiv Thakar","type":"str"},{"label":"","value":"Sooraj Kumar","type":"str"},{"label":"","value":"Spencer Fullerton","type":"str"},{"label":"","value":"Terry Neuffer","type":"str"},{"label":"","value":"Thomas Condello","type":"str"},{"label":"","value":"Tyson Griffin","type":"str"},{"label":"","value":"Virginia Avery","type":"str"},{"label":"","value":"Refer To App","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":710,"y":1700,"wires":[["7b3a08f450109585"]]},{"id":"41685ccf9407894e","type":"ui_dropdown","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"Follow-Up Person","label":"","tooltip":"","place":"Follow-up Person","group":"1ad4b2bf.64623d","order":8,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Abdul Khan","type":"str"},{"label":"","value":"Ammar Murad","type":"str"},{"label":"","value":"Chandrakant Kirolikar","type":"str"},{"label":"","value":"Christa Johnston","type":"str"},{"label":"","value":"Christopher Leroux","type":"str"},{"label":"","value":"Daniel Qin","type":"str"},{"label":"","value":"Dave Ziemer","type":"str"},{"label":"","value":"David Meng","type":"str"},{"label":"","value":"Denil Chowdhary","type":"str"},{"label":"","value":"Elsie Alonso","type":"str"},{"label":"","value":"Fraser Baguma","type":"str"},{"label":"","value":"Gary Martin","type":"str"},{"label":"","value":"Geoff Boyer","type":"str"},{"label":"","value":"Jeff Lamont","type":"str"},{"label":"","value":"Jesse Singh","type":"str"},{"label":"","value":"Kale Tripney","type":"str"},{"label":"","value":"Kelly Kavanagh","type":"str"},{"label":"","value":"Ken Lavigne","type":"str"},{"label":"","value":"Ken Servos","type":"str"},{"label":"","value":"Maintenance","type":"str"},{"label":"","value":"Majaz Ali","type":"str"},{"label":"","value":"Martin Fisher","type":"str"},{"label":"","value":"Mason Martinez","type":"str"},{"label":"","value":"Metlab","type":"str"},{"label":"","value":"Michael Hancox","type":"str"},{"label":"","value":"Mike Eechaute","type":"str"},{"label":"","value":"Mustafa Nashat","type":"str"},{"label":"","value":"Oleg Kondrachov","type":"str"},{"label":"","value":"Parth Chauhan","type":"str"},{"label":"","value":"Paul McArthur","type":"str"},{"label":"","value":"Production Supervisor","type":"str"},{"label":"","value":"Quality Technician","type":"str"},{"label":"","value":"Robert Leishman","type":"str"},{"label":"","value":"Sagar Shah","type":"str"},{"label":"","value":"Scott McKay","type":"str"},{"label":"","value":"Shiv Thakar","type":"str"},{"label":"","value":"Sooraj Kumar","type":"str"},{"label":"","value":"Spencer Fullerton","type":"str"},{"label":"","value":"Terry Neuffer","type":"str"},{"label":"","value":"Thomas Condello","type":"str"},{"label":"","value":"Tyson Griffin","type":"str"},{"label":"","value":"Virginia Avery","type":"str"},{"label":"","value":"Refer To App","type":"str"},{"label":"","value":"Other","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":710,"y":1120,"wires":[["9a07e61540f590e1"]]},{"id":"98baafb5b821f062","type":"change","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"","rules":[{"t":"set","p":"other_rid","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":3420,"wires":[[]]},{"id":"f3b84eebd216c656","type":"function","z":"6d027d56.74f544","g":"cd8425a287bc06fd","name":"clear flow variables","func":"flow.set(\"bl_machine\",\"\");\nflow.set(\"bl_process\",\"\");\nflow.set(\"bl_run\",\"\");\nflow.set(\"bl_partrun\",\"\");\nflow.set(\"bl_category\",\"\");\nflow.set(\"bl_issues\",\"\");\nflow.set(\"bl_rid\",\"\");\nflow.set(\"bl_ridNum\",\"\");\nflow.set(\"bl_followup_details\",\"\");\nflow.set(\"bl_followup_person\",\"\");\nflow.set(\"bl_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1850,"y":2480,"wires":[[]]},{"id":"88624ce1727698c9","type":"function","z":"6d027d56.74f544","g":"2218c8a1.f63338","name":"clear flow variables","func":"flow.set(\"other_machine\",\"\");\nflow.set(\"other_process\",\"\");\nflow.set(\"other_run\",\"\");\nflow.set(\"other_partrun\",\"\");\nflow.set(\"other_category\",\"\");\nflow.set(\"other_issues\",\"\");\nflow.set(\"other_rid\",\"\");\nflow.set(\"other_ridNum\",\"\");\nflow.set(\"other_followup_details\",\"\");\nflow.set(\"other_followup_person\",\"\");\nflow.set(\"other_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":3600,"wires":[[]]},{"id":"92c6c2de12052ae6","type":"function","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"clear flow variables","func":"flow.set(\"cc_des\",\"\");\nflow.set(\"cc_req\",\"\");\nflow.set(\"cc_category\",\"\");\nflow.set(\"cc_comments\",\"\");\nflow.set(\"cc_action\",\"\");\nflow.set(\"cc_followup_Y_N\",\"\");\nflow.set(\"cc_followup_comments\",\"\");\nflow.set(\"cc_followup_person\",\"\");\nflow.set(\"cc_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":1680,"wires":[[]]},{"id":"20c5a2eaebf7dc52","type":"function","z":"6d027d56.74f544","g":"531b0778.d69e38","name":"clear flow variables","func":"flow.set(\"sr_des\",\"\");\nflow.set(\"sr_req\",\"\");\nflow.set(\"sr_category\",\"\");\nflow.set(\"sr_comments\",\"\");\nflow.set(\"sr_action\",\"\");\nflow.set(\"sr_followup_Y_N\",\"\");\nflow.set(\"sr_followup_comments\",\"\");\nflow.set(\"sr_followup_person\",\"\");\nflow.set(\"sr_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1100,"wires":[[]]},{"id":"a659ce3332de5691","type":"change","z":"6d027d56.74f544","g":"9d5df0fb.70e8a","name":"reset qt at end of shift","rules":[{"t":"set","p":"qt_name","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":1260,"wires":[[]]},{"id":"fa56b7e769326b1c","type":"function","z":"6d027d56.74f544","g":"6a20d1ea.17198","name":"eosComment clear flow var","func":"flow.set(\"eosComments\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":4060,"wires":[[]]},{"id":"ccb55e156f84a32d","type":"link in","z":"6d027d56.74f544","g":"39640cf.96c1ff4","name":"","links":["9da83dc9229ec1dd"],"x":380,"y":520,"wires":[["91722722.138188"]]},{"id":"ec5e61dc5a7923c8","type":"link out","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","mode":"link","links":["314507dab4e000d2"],"x":1340,"y":1640,"wires":[]},{"id":"87de235c0af1e588","type":"switch","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","property":"cc_category","propertyType":"flow","rules":[{"t":"eq","v":"First Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":1800,"wires":[["14519788b1869fc7","3a3a6e5b61e471fb","9e697d38ad212f4e"]]},{"id":"14519788b1869fc7","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"First Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1780,"wires":[["65637be1.e12554"]]},{"id":"3a3a6e5b61e471fb","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Reviewed and Signed First Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1820,"wires":[["264cf5d4.976a9a"]]},{"id":"9e697d38ad212f4e","type":"change","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1840,"wires":[["1281209b.35d75f"]]},{"id":"314507dab4e000d2","type":"link in","z":"6d027d56.74f544","g":"6a4b8839.033658","name":"","links":["ec5e61dc5a7923c8"],"x":120,"y":1800,"wires":[["87de235c0af1e588"]]},{"id":"d31609d1.ff9578","type":"ui_table","z":"6d027d56.74f544","g":"bdfa349d.659338","group":"c84eb7b5.8d81c8","name":"Display the first 1000 records","order":2,"width":"30","height":"30","columns":[{"field":"transfer_time","title":"<center>Time</center>","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"<center>id</center>","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"workshift","title":"<center>workshift</center>","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"qt","title":"<center>qt</center>","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":3480,"y":1860,"wires":[]},{"id":"a9456f2e.e4a46","type":"ui_button","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","group":"2700eaeb.173f36","order":3,"width":0,"height":0,"passthru":false,"label":"Finish and Send Report","tooltip":"","color":"","bgcolor":"","icon":"send","payload":"","payloadType":"str","topic":"","x":2650,"y":860,"wires":[["ce43fef5.7aed3"]]},{"id":"bb845548.11dd88","type":"ui_button","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","group":"2700eaeb.173f36","order":6,"width":0,"height":0,"passthru":false,"label":"Clear All Fields","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"","payloadType":"str","topic":"","x":2380,"y":720,"wires":[["9ff3728b.be2fd"]]},{"id":"42c50879.c7cc48","type":"link out","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","links":["e74d2c58.67494","514067ea.3ee1f8","fdcc2e97.84b03","ab45f40f.e89018","e5e651b7.1ae44","9f5d2a54.bcfcb8","218a85e3.f70dea","dec20c2845dde971","51aa320c96f50883","2613ea2c7a3383aa"],"x":3100,"y":720,"wires":[]},{"id":"2b15459f.a9934a","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"report_number","func":"var report_num = flow.get(\"report_num\");\nvar num = flow.get(\"num\");\nnum = num+1;\nreport_num = \"QAR\" + num.toString().padStart(5,\"0\")\n\n\nflow.set(\"report_num\", report_num);\nflow.set(\"num\", num);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3600,"y":980,"wires":[["5efa540b.747f5c"]]},{"id":"5efa540b.747f5c","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"report_num","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3800,"y":980,"wires":[["1da998df.311e87"]]},{"id":"1da998df.311e87","type":"debug","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3970,"y":980,"wires":[]},{"id":"f5e5bb37.49f3e8","type":"ui_toast","z":"6d027d56.74f544","g":"e04cbc70.69a2d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Confirm","cancel":"Cancel","raw":false,"className":"","topic":"Finish and Send Confirmation","name":"","x":3450,"y":860,"wires":[["5b06c035.be62"]]},{"id":"5b06c035.be62","type":"switch","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Confirm","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3650,"y":920,"wires":[["f3c7edc2.53483"]]},{"id":"88b630a2.b14c7","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"configure email","func":"var out = msg.output;\n\nvar shift = out[0].workshift;\nvar date = new Date(out[0].rec_time); \nvar option = { year: 'numeric' , month: 'long', day:'numeric'};\nvar report_num = out[0].reportnum;\nflow.set(\"last_num\",report_num);\n\nvar dateTime = new Date();\nflow.set(\"email_time\",dateTime.getTime())\n\nformat_date = date.toLocaleDateString('en-US',option);\n\nvar link = \"http://pmdadashboard/d/DluY5Ph4z/daily-shift-quality-audit-report?orgId=1&from=now-7d&to=now&var-QA_ReportNo=\"+report_num\n//Recipients\nmsg.from = ['PM-A Quality <notification-noreply@stackpole.com>']\nmsg.to = ['sthakar@stackpole.com','pmcarthur@stackpole.com','meechaute@stackpole.com','gmartin2@stackpole.com','skumar@stackpole.com','akhan@stackpole.com','vavery@stackpole.com','tcondello@stackpole.com','kservos@stackpole.com','sfullerton@stackpole.com','fbaguma@stackpole.com','mali@stackpole.com','pchauhan@stackpole.com','smckay@stackpole.com']\n//msg.to = ['sthakar@stackpole.com']\n\n//Subject\nif(shift == 1){\n    shift = \"Day\";\n}else if(shift == 2){\n    shift = \"Afternoon\";\n}else if(shift == 3){\n    shift = \"Night\";\n}\n\nmsg.topic = 'Daily Quality Audit #'+report_num+\" on \"+format_date+\" \"+shift+\" Shift\";\n//Attachments\n\n//Email Body\nmsg.payload = 'Do not reply to this email notification.\\n\\nDaily Quality Audit for '+format_date+' '+shift+' has been uploaded. Note that it can take up to 15 minutes to view data on the Dashboard.\\n\\nReport Number: '+report_num+'\\nLink: '+link+'\\nFollow Up Actions Document: N:\\\\Quality\\\\Daily Quality Audits\\\\Audit Follow Up List.xlsx\\n\\n';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":980,"wires":[["98f3e1e4.66bc1"]]},{"id":"af0f0f5a.2f145","type":"ui_toast","z":"6d027d56.74f544","g":"e04cbc70.69a2d","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Audit Sent","name":"sent notification","x":3900,"y":1060,"wires":[["6fd44262.dd77bc"]]},{"id":"479f1a93.cb3d24","type":"e-mail","z":"6d027d56.74f544","g":"e04cbc70.69a2d","server":"smtp01.stackpole.com","port":"25","secure":false,"tls":false,"name":"","dname":"send email","x":3590,"y":1020,"wires":[]},{"id":"9ff3728b.be2fd","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to clear all the input fields","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":720,"wires":[["89de3037.78e42"]]},{"id":"89de3037.78e42","type":"ui_toast","z":"6d027d56.74f544","g":"e04cbc70.69a2d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Confirm","cancel":"Cancel","raw":false,"topic":"Clear Input Fields","name":"","x":2770,"y":720,"wires":[["87e49d24.0bc4b"]]},{"id":"87e49d24.0bc4b","type":"switch","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Confirm","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2930,"y":720,"wires":[["42c50879.c7cc48"]]},{"id":"9b37c69f.5e8de8","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Audit has been sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3700,"y":1060,"wires":[["af0f0f5a.2f145"]]},{"id":"19ec48ac.e560f7","type":"complete","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","scope":["479f1a93.cb3d24"],"uncaught":false,"x":3490,"y":1060,"wires":[["9b37c69f.5e8de8"]]},{"id":"f3c7edc2.53483","type":"template","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"get last date and shift from database","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select distinct top (1) workshift, rec_time, id, reportnum\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\n  order by id desc","output":"str","x":2870,"y":980,"wires":[["50e66e6c.8ae5"]]},{"id":"50e66e6c.8ae5","type":"MSSQL","z":"6d027d56.74f544","g":"e04cbc70.69a2d","mssqlCN":"c5739068.38b51","name":"Get","outField":"output","returnType":0,"throwErrors":"0","query":"Select distinct top (1) reportnum, id\r\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\r\n  order by id desc","modeOpt":"","modeOptType":"query","queryOpt":"query","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","params":[],"x":3100,"y":980,"wires":[["88b630a2.b14c7"]]},{"id":"c318cf9a.360ca","type":"ui_template","z":"6d027d56.74f544","g":"e04cbc70.69a2d","group":"2700eaeb.173f36","name":"window redirect","order":4,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data != null) {\n          window.open(\"http://pmdadashboard/d/DluY5Ph4z/daily-shift-quality-audit-report?orgId=1&from=now%2Fy&to=now%2Fy&var-QA_ReportNo=\"+data);\n          //window.location.href = \"http://pmdadashboard/d/DluY5Ph4z/daily-shift-quality-audit-report?orgId=1&from=now%2Fy&to=now%2Fy&var-QA_ReportNo=\"+data;\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":2820,"y":760,"wires":[[]]},{"id":"ba408f05.505db","type":"ui_button","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","group":"2700eaeb.173f36","order":5,"width":0,"height":0,"passthru":false,"label":"Go To Report","tooltip":"","color":"","bgcolor":"","icon":"fa-mail-forward","payload":"Are you sure you want to go to the database?","payloadType":"str","topic":"","x":2370,"y":760,"wires":[["c961430b.d9bda"]]},{"id":"c961430b.d9bda","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","func":"var num = flow.get(\"report_num\");\n\nmsg.payload = num;\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":760,"wires":[["58c9643.ae7ab9c"]]},{"id":"58c9643.ae7ab9c","type":"trigger","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2660,"y":760,"wires":[["c318cf9a.360ca"]]},{"id":"c9180276.efaa9","type":"ui_toast","z":"6d027d56.74f544","g":"e04cbc70.69a2d","position":"bottom right","displayTime":"10","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Saved","name":"Saved","x":2430,"y":880,"wires":[]},{"id":"88aeda48.7bc2c8","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":820,"wires":[["c9180276.efaa9"]]},{"id":"98f3e1e4.66bc1","type":"switch","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","property":"report_num","propertyType":"flow","rules":[{"t":"eq","v":"last_num","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3430,"y":980,"wires":[["2b15459f.a9934a","479f1a93.cb3d24","5a24755bc684e9fd","a1bcab6b6c674c4b"]]},{"id":"fcaf4f70.8e2b8","type":"link in","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","links":["8c0e65fa.02b688"],"x":2660,"y":980,"wires":[["f3c7edc2.53483"]]},{"id":"6fd44262.dd77bc","type":"link out","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","links":["dbac3662.6725a8"],"x":3980,"y":1120,"wires":[]},{"id":"dbac3662.6725a8","type":"link in","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","links":["6fd44262.dd77bc","78c0bcd6b4ec917e"],"x":2960,"y":760,"wires":[["42c50879.c7cc48"]]},{"id":"af0e56fd.80d4a8","type":"switch","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","property":"report_num","propertyType":"flow","rules":[{"t":"eq","v":"last_num","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3130,"y":900,"wires":[["9309dd36.db3e4"],["902c201c.52a63"]]},{"id":"909eb58f.40f188","type":"ui_toast","z":"6d027d56.74f544","g":"e04cbc70.69a2d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Duplicate or Blank Report","name":"","x":3470,"y":920,"wires":[[]]},{"id":"9309dd36.db3e4","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Are you sure you are done your report?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3280,"y":880,"wires":[["f5e5bb37.49f3e8"]]},{"id":"ce43fef5.7aed3","type":"template","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"get last rep","field":"query","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select distinct top (1) workshift, rec_time, id, reportnum\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\n  order by id desc","output":"str","x":2690,"y":900,"wires":[["3f996953.c69546"]]},{"id":"3f996953.c69546","type":"MSSQL","z":"6d027d56.74f544","g":"e04cbc70.69a2d","mssqlCN":"c5739068.38b51","name":"Get","outField":"output","returnType":0,"throwErrors":"0","query":"Select distinct top (1) reportnum, id\r\n  FROM [PMDA-Litmus].[dbo].[DailyQA]\r\n  order by id desc","modeOpt":"","modeOptType":"query","queryOpt":"query","queryOptType":"msg","paramsOpt":"queryParams","paramsOptType":"msg","params":[],"x":2820,"y":900,"wires":[["8db633ef.c148d"]]},{"id":"8db633ef.c148d","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"set flow.last_num","func":"var out = msg.output; \nvar last_reportnum = out[0].reportnum;\nflow.set(\"last_num\",last_reportnum);\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2970,"y":900,"wires":[["af0e56fd.80d4a8"]]},{"id":"902c201c.52a63","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"set msg.payload","func":"var last = flow.get(\"last_num\");\nvar curr = flow.get(\"report_num\");\n\nmsg.payload = \"Seems like you have already sent \"+last+\". Report \"+curr+\" is currently blank.\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":920,"wires":[["909eb58f.40f188"]]},{"id":"6051f76b5bce495f","type":"comment","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"Give popup message if the report is blank or a duplicate","info":"","x":3440,"y":820,"wires":[]},{"id":"f429c5823fe2d170","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"eosComment clear flow var","func":"flow.set(\"eosComments\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3400,"y":760,"wires":[[]]},{"id":"abbfa0c1bfe3d781","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"clear other flow variables","func":"flow.set(\"other_machine\",\"\");\nflow.set(\"other_process\",\"\");\nflow.set(\"other_run\",\"\");\nflow.set(\"other_partrun\",\"\");\nflow.set(\"other_category\",\"\");\nflow.set(\"other_issues\",\"\");\nflow.set(\"other_rid\",\"\");\nflow.set(\"other_ridNum\",\"\");\nflow.set(\"other_followup_details\",\"\");\nflow.set(\"other_followup_person\",\"\");\nflow.set(\"other_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3390,"y":720,"wires":[[]]},{"id":"1b0442d88940f639","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"clear bl flow variables","func":"flow.set(\"bl_machine\",\"\");\nflow.set(\"bl_process\",\"\");\nflow.set(\"bl_run\",\"\");\nflow.set(\"bl_partrun\",\"\");\nflow.set(\"bl_category\",\"\");\nflow.set(\"bl_issues\",\"\");\nflow.set(\"bl_rid\",\"\");\nflow.set(\"bl_ridNum\",\"\");\nflow.set(\"bl_followup_details\",\"\");\nflow.set(\"bl_followup_person\",\"\");\nflow.set(\"bl_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":680,"wires":[[]]},{"id":"165ca9454f4bd5c7","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"clear cc flow variables","func":"flow.set(\"cc_des\",\"\");\nflow.set(\"cc_req\",\"\");\nflow.set(\"cc_category\",\"\");\nflow.set(\"cc_comments\",\"\");\nflow.set(\"cc_action\",\"\");\nflow.set(\"cc_followup_Y_N\",\"\");\nflow.set(\"cc_followup_comments\",\"\");\nflow.set(\"cc_followup_person\",\"\");\nflow.set(\"cc_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":640,"wires":[[]]},{"id":"97d8429217433b11","type":"function","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"clear sr flow variables","func":"flow.set(\"sr_des\",\"\");\nflow.set(\"sr_req\",\"\");\nflow.set(\"sr_category\",\"\");\nflow.set(\"sr_comments\",\"\");\nflow.set(\"sr_action\",\"\");\nflow.set(\"sr_followup_Y_N\",\"\");\nflow.set(\"sr_followup_comments\",\"\");\nflow.set(\"sr_followup_person\",\"\");\nflow.set(\"sr_otherperson\",\"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3380,"y":600,"wires":[[]]},{"id":"5a24755bc684e9fd","type":"link out","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","mode":"link","links":["9b4faa0c8db46e5b"],"x":3360,"y":1060,"wires":[]},{"id":"9b4faa0c8db46e5b","type":"link in","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","links":["5a24755bc684e9fd","78c0bcd6b4ec917e"],"x":3200,"y":680,"wires":[["f429c5823fe2d170","abbfa0c1bfe3d781","1b0442d88940f639","165ca9454f4bd5c7","97d8429217433b11"]]},{"id":"b0f072e6f0a1e426","type":"comment","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"clear flow variables at the end of shift and when the finish button is hit","info":"","x":3020,"y":600,"wires":[]},{"id":"9da83dc9229ec1dd","type":"link out","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","mode":"link","links":["ccb55e156f84a32d"],"x":4060,"y":940,"wires":[]},{"id":"a1bcab6b6c674c4b","type":"change","z":"6d027d56.74f544","g":"e04cbc70.69a2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3940,"y":940,"wires":[["9da83dc9229ec1dd"]]},{"id":"9be6bc96.b00d1","type":"ui_spacer","z":"6d027d56.74f544","name":"spacer","group":"e2577c8.e066a8","order":8,"width":"14","height":"19"},{"id":"89ae0c44.60a3","type":"ui_group","z":"6d027d56.74f544","name":"Information","tab":"28ca1373.f7f8cc","order":1,"disp":false,"width":14,"collapse":false},{"id":"1ad4b2bf.64623d","type":"ui_group","z":"6d027d56.74f544","name":"Specific Requests","tab":"28ca1373.f7f8cc","order":3,"disp":true,"width":"7","collapse":false},{"id":"e57e4ab4.9c0fe8","type":"ui_group","z":"6d027d56.74f544","name":"Bypass List","tab":"28ca1373.f7f8cc","order":5,"disp":true,"width":7,"collapse":false},{"id":"a4331e30.6064c","type":"ui_group","z":"6d027d56.74f544","name":"Left Spacer","tab":"28ca1373.f7f8cc","order":2,"disp":false,"width":"12","collapse":false},{"id":"13955d6e.bc6943","type":"ui_group","name":"Right Spacer","tab":null,"order":3,"disp":false,"width":"13","collapse":false},{"id":"bf2b0852.58b478","type":"ui_group","name":"Right Spacer 2","tab":null,"order":6,"disp":false,"width":"13","collapse":false},{"id":"d174281c.ac2218","type":"ui_group","name":"Header","tab":null,"order":8,"disp":false,"width":"0","collapse":false},{"id":"c5739068.38b51","type":"MSSQL-CN","tdsVersion":"7_4","name":"PMDA-Litmus","server":"10.4.65.223","port":"1433","encyption":true,"trustServerCertificate":true,"database":"PMDA-Litmus","useUTC":false,"connectTimeout":"15000","requestTimeout":"40000","cancelTimeout":"60000","pool":"","parseJSON":false,"enableArithAbort":true},{"id":"2700eaeb.173f36","type":"ui_group","z":"6d027d56.74f544","name":"End-of-Shift","tab":"28ca1373.f7f8cc","order":7,"disp":true,"width":"14","collapse":false,"className":""},{"id":"4afc1473.5aa80c","type":"ui_group","z":"6d027d56.74f544","name":"Bypass List - Other NDT Cells","tab":"28ca1373.f7f8cc","order":6,"disp":true,"width":"7","collapse":false},{"id":"7983aa49.d228e4","type":"Datahub Connect","ipadd":"127.0.0.1","port":"4222"},{"id":"36d559a9.e3a3e6","type":"ui_group","z":"6d027d56.74f544","name":"Critical Calls During Shift","tab":"28ca1373.f7f8cc","order":4,"disp":true,"width":7,"collapse":false},{"id":"28ca1373.f7f8cc","type":"ui_tab","z":"6d027d56.74f544","name":"Daily Quality Audit","icon":"dashboard","order":1,"disabled":false,"hidden":false}]